﻿@model IEnumerable<Model.EF.Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}
<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">

        <div class="agile-tables">
            <div class="w3l-table-info">
                <h2>List employee</h2>
                @Html.ActionLink("Thêm nhân viên", "Create")
                <table id="table">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee name</th>
                            <th>Avatar</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row_@item.ID">
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td><img src="@item.Avatar" alt="@item.Avatar" style="width:100px" /></td>
                            <td>@item.Address</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            <td>@item.Role</td>

                            <td>

                                <a href="/AdminManager/Employee/Edit/@item.ID">Edit</a> |
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                                <a href="#" data-id="@item.ID" class="delete_Admin">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- //tables -->
</div>
<script>
    $('.delete_Admin').off('click').on('click', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        var con = confirm("Do you want to delete this employee?");
        if (con) {
            $.ajax({
                url: "/AdminManager/Employee/Delete/" + id,
                type: "POST",
                dataType: "json",
                success: function (res) {
                    if (res.status == true) {
                        swal("Thông báo", "Delete success", "success")
                            .then((value) => {
                                window.location.href = "/AdminManager/Employee/Index";
                            });
                    } else {
                        swal({
                            title: "Thông báo",
                            text: "Cannot delete this employee",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true
                        })
                            .then((value) => {
                                window.location.href = "/AdminManager/Employee/Index";
                            });
                    }
                }
            });
        }
    })

</script>
