﻿@model Model.EF.PolicyInsurance

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    var id = ViewBag.idInsurance;
    var daoCate = ViewBag.PolicyInsuranceCateID;
}
<style>
    .textContent {
        display: block;
        width: 100%;
        border-radius: 5px;
    }
</style>
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            }
            finder.popup();
        });

        CKEDITOR.replace('txtContent');
       
    </script>
}
    <h2>Create new insurance policy</h2>

@using (Html.BeginForm("Create", "PolicyInsuranceAdmin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceID, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsuranceID, new { htmlAttributes = new { @class = "form-control", @Value = id, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.InsuranceID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @*<div class="row">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = " textContent" },@id= "textContent" })
                        </div>
                    </div>*@
                @*<input  name="Content" id="txtContent"/>*@
                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" }, @id = "txtContent" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PolicyInsuranceCategoryID, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                <select name="PolicyInsuranceCategoryID" class="select_option">
                    @foreach (var item in ViewBag.PolicyInsuranceCateid)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.PolicyInsuranceCategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>

    <a href="/chi-tiet/@Session["CategoryID"].ToString()">Back</a>
</div>
