﻿@model Model.EF.PolicyInsurance

@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Areas/EmployeeManager/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit insurance policy</h2>
@section jsFooter {
<script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            }
            finder.popup();
        });

        CKEDITOR.replace('txtContent');

</script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" },@id= "txtContent" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PolicyInsuranceCategoryID, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                <select name="PolicyInsuranceCategoryID" class="select_option">
                    @foreach (var item in ViewBag.PolicyInsuranceCateid)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.PolicyInsuranceCategoryID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = Session["InsuranceID"].ToString() })
</div>
