﻿@model IEnumerable<Model.EF.PolicyInsurance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/EmployeeManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}


<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">


        <div class="agile-tables">
            <div class="w3l-table-info">
                <h2>List insurance policy</h2>
                <table id="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Insurance ID</th>
                            <th>Content</th>
                            <th>Status</th>
                            <th>Policy Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <input id="InsuranceID" value="@item.InsuranceID" type="hidden" />
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>@item.InsuranceID</td>
                                <td>@Html.Raw(@item.Content)</td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <p style="background-color:green;color:white; text-align:center;border-radius:5px;width:50%">Hoạt động</p>
                                    }
                                    else
                                    {
                                        <p style="background-color:red;color:white; text-align:center;border-radius:5px;width:50%">Đã xóa</p>
                                    }
                                </td>
                                <td>

                                    @foreach (var item1 in ViewBag.PolicyInsuranceCateID)
                                    {
                                        if (item1.ID == item.PolicyInsuranceCategoryID)
                                        {
                                            <p>@item1.Name</p>
                                            break;
                                        }

                                    }
                                </td>
                                <td>
                                    <a href="/EmployeeManager/PolicyInsuranceAdmin/Edit/@item.ID">Edit</a> |
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                                    <a href="#" data-id="@item.ID" class="delete_PolicyInsurance">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/chi-tiet/@Session["CategoryID"].ToString()">Back</a>
    </div>
    <!-- //tables -->

</div>
