﻿@{
    var cateInsurance1 = (List<Model.EF.InsuranceCategory>)Session["cateInsuranceID"];
    var cateNew1 = (List<Model.EF.CategoryNew>)Session["cateNewID"];
}
<div class="sidebar-menu">
    <header class="logo1">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li id="menu-academico">
                <a href="/trang-chu-admin"><i class="fa fa-home" aria-hidden="true"></i><span>Home</span> <div class="clearfix"></div></a>
            </li>
            <li id="menu-academico"><a href="/hop-dong"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>Contract</span><div class="clearfix"></div></a></li>
            <li id="menu-academico"><a href="/AdminManager/Payment/index"><i class="fa fa-paypal" aria-hidden="true"></i><span>Payment</span><div class="clearfix"></div></a></li>
            <li id="menu-academico">
                <a href=""><i class="fa fa-list-ul" aria-hidden="true"></i><span>Insurance category</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                <ul id="menu-academico-sub">
                    @foreach (var item in cateInsurance1)
                    {
                        <li id="menu-academico-avaliacoes"><a href="/chi-tiet/@item.ID">@item.Name</a></li>
                    }
                </ul>
            </li>

            <li id="menu-academico">
                <a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i><span>News</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                <ul id="menu-academico-sub">
                    @foreach (var item in cateNew1)
                    {
                        <li id="menu-academico-avaliacoes"><a href="/de-an-chien-luoc/@item.ID">@item.Name</a></li>
                    }
                </ul>
            </li>
            <li id="menu-academico">
                <a href="#"><i class="fa fa-empire" aria-hidden="true"></i><span>Employee</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="/them-moi-nhan-vien">Add new employee</a></li>
                    <li id="menu-academico-avaliacoes"><a href="/danh-sach-nhan-vien">List employee</a></li>
                </ul>
            </li>

            <li id="menu-academico">
                <a href="/danh-sach-khach-hang"><i class="fa fa-user" aria-hidden="true"></i><span>Customer</span><div class="clearfix"></div></a>
            </li>

        </ul>
    </div>
</div>