﻿@model Model.EF.Contract

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    var orderDetailList = (List<Model.EF.OrderDetail>)ViewBag.getOrderDetail;
}

<h2>Details</h2>


<div class="row">
    <div class="col-md-6">
        <h4>Contract</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContractName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContractName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PaymentAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaymentAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeliveryAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                    @if (Model.Status == 2)
                    {
                        <p>Đang xử lí</p>
                    }
                    else if (Model.Status == 1)
                    {
                        <p>Hoạt động</p>
                    }
                    else
                    {
                        <p>Khóa</p>
                    }
            </dd>

        </dl>
    </div>

    <div class="col-md-6">
        <h4>OrderDetail</h4>
        <hr />
        <dl class="dl-horizontal">

            @foreach (var item in ViewBag.getOrderDetail)
            {
                <dt>ContractID</dt>
                <dd>@item.ContractID</dd>
                <dt>Quantity</dt>
                <dd>@item.Quantity</dd>
                <dt>Price</dt>
                <dd>@item.Price</dd>
                <dt>StartDate</dt>
                <dd>@item.StartDate</dd>
                <dt>EndDate</dt>
                <dd>@item.EndDate</dd>
                <dt>FullName</dt>
                <dd>@item.FullName</dd>
                <dt>HomePhone</dt>
                <dd>@item.HomePhone</dd>
                <dt>MobilePhone</dt>
                <dd>@item.MobilePhone</dd>
                <dt>Email</dt>
                <dd>@item.Email</dd>
                <dt>AddressDetail</dt>
                <dd>@item.AddressDetail</dd>
                <dt>AddressContract</dt>
                <dd>@item.AddressContract</dd>
                <dt>AddressIDContract</dt>
                <dd>@item.AddressIDContract</dd>
                <dt>FullNameReceive</dt>
                <dd>@item.FullNameReceive</dd>
                <dt>DOB</dt>
                <dd>@item.Dob</dd>
                <dt>Identity</dt>
                <dd>@item.Identity</dd>
                <dt>Gender</dt>
                if (@item.Gender == 1)
                {
                    <dd>Nam</dd>
                }
                else
                {
                    <dd>Nữ</dd>
                }
                <dt>RelatiomShip</dt>
                if (item.Relationship == 1)
                {
                    <dd>Your self</dd>
                }
                else if (item.Relationship == 2)
                {
                    <dd>Father</dd>
                }
                else if (item.Relationship == 3)
                {
                    <dd>Mother</dd>
                }
                else if (item.Relationship == 4)
                {
                    <dd>Wife</dd>
                }
                else if (item.Relationship == 5)
                {
                    <dd>Husband</dd>
                }
                else if (item.Relationship == 6)
                {
                    <dd>Child</dd>
                }
                <dt>Job</dt>
                <dd>@item.Job</dd>

            }
        </dl>
    </div>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
