﻿@model IEnumerable<Model.EF.Contract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}

<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">


        <div class="agile-tables">
            <div class="w3l-table-info">
                <div class="row mb-5">
                    <div class="col-lg-2 mb-3">
                        <p style="font-size: 20px; line-height: 50px;"><b>Category</b></p>
                    </div>
                    <div class="col-lg-2 mb-3">
                        <a href="#" class="Finter" data-id="0" style="float: left; height: 60px;line-height: 50px;background: #e74c3c;text-align: center; color: white; padding: 0.3em 1em;">All Insurance</a>
                    </div>
                    <div class="col-lg-2 mb-3">
                        <a href="#" class="Finter" data-id="1" style="float: left; height: 60px;line-height: 50px;background: #1b93e1;text-align: center; color: white; padding: 0.3em 1em;">Life Insurance</a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#" class="Finter" data-id="2" style="float: left; height: 60px;line-height: 50px;background: #1b93e1;text-align: center; color: white; padding: 0.3em 1em;">Medical Insurance</a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#" class="Finter" data-id="3" style="float: left; height: 60px;line-height: 50px;background: #1b93e1;text-align: center; color: white; padding: 0.3em 1em;">Motor Insurance</a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#" class="Finter" data-id="4" style="float: left; height: 60px;line-height: 50px;background: #1b93e1;text-align: center; color: white; padding: 0.3em 1em;">Home Insurance</a>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6 mb-5" style="margin-top: 10px; ">
                        @{
                            DateTime paramFinder = Convert.ToDateTime(DateTime.Now);
                            string mFinder = paramFinder.ToString("MM");
                            string dFinder = paramFinder.ToString("dd");
                            int dateFinder = Convert.ToInt32(dFinder) - 7;
                            int endDateFinder = Convert.ToInt32(dFinder) + 1;
                            string yFinder = paramFinder.ToString("yyyy");
                            var startDateFinder = mFinder + '/' + dateFinder + '/' + yFinder;
                            var endate = mFinder + '/' + endDateFinder + '/' + yFinder;
                        }
                        <div class="row">
                            <div class="col-lg-2">
                                <p style="font-size: 20px;"><b>Date</b></p>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" id="DateFinter" name="daterange" style="width: 100%; border-radius: 3px; border: 1px solid #bdbdbd; height:35px;" value="@startDateFinder - @endate" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5" style="margin-top: 10px; ">
                        <div class="row mb-5">
                            <div class="col-lg-10 mb-5">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <p style="font-size: 20px;"><b>Search</b></p>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="text" id="InputDate" name="SearchFinder" style="width: 100%; border-radius: 3px;border: 1px solid #bdbdbd;height:35px;" placeholder="Search" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 mb-5">
                                <a href="#" id="SearchFinder" style="float: left; height: 35px;line-height: 25px;background: #a2d200;text-align: center; color: white; padding: 0.3em 1em;border: 1px solid #bdbdbd;"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5" style="margin-top: 20px;">
                    <div class="col-lg-2">
                        <p style="font-size: 20px;"><b>Status</b></p>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-3 mb-3">
                                <a href="#" class="StatusInsurance" data-id="10" style="float: left; height: 30px;line-height: 25px;background: #e74c3c;text-align: center; color: white; padding: 0.3em 1em;">All status</a>
                            </div>
                            <div class="col-lg-3 mb-3">
                                <a href="#" class="StatusInsurance" data-id="2" style="float: left; height: 30px;line-height: 25px;background: #ff9501;text-align: center; color: white; padding: 0.3em 1em;">Pending</a>
                            </div>
                            <div class="col-lg-3">
                                <a href="#" class="StatusInsurance" data-id="1" style="float: left; height: 30px;line-height: 25px;background: #ff9501;text-align: center; color: white; padding: 0.3em 1em;">Actived</a>
                            </div>
                            <div class="col-lg-3">
                                <a href="#" class="StatusInsurance" data-id="0" style="float: left; height: 30px;line-height: 25px;background: #ff9501;text-align: center; color: white; padding: 0.3em 1em;">Locked</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-5" style="margin-top: 20px;">
                    <div class="col-lg-2">
                        <p style="font-size: 20px;"><b>Duration</b></p>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-3 mb-3">
                                <a href="#" class="ExpireInsurance" data-id="0" style="float: left; height: 30px;line-height: 25px;background: #e74c3c;text-align: center; color: white; padding: 0.3em 1em;">All duration</a>
                            </div>
                            <div class="col-lg-3 mb-3">
                                <a href="#" class="ExpireInsurance" data-id="1" style="float: left; height: 30px;line-height: 25px;background: #a2d200;text-align: center; color: white; padding: 0.3em 1em;">Expired</a>
                            </div>
                            <div class="col-lg-3">
                                <a href="#" class="ExpireInsurance" data-id="2" style="float: left; height: 30px;line-height: 25px;background: #a2d200;text-align: center; color: white; padding: 0.3em 1em;">Nearly expired</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div>Kết quả lọc theo: <span id="InsuraceFinder"></span></div>
                    </div>
                </div>
                <input type="hidden" id="InsuranceIDFinder" value="0" />
                <input type="hidden" id="InsuranceStatusFinder" value="10" />
                <input type="hidden" id="InsuranceDurationFinder" value="0" />
                <h2>List contract</h2>
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User ID</th>
                            <th>Name ,Email,Phone</th>
                            <th>Insurance name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Payment address</th>
                            <th>Delivery address</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="changeContract">
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>@item.UserID</td>
                                <td>
                                    @foreach (var item1 in ViewBag.getInforUser)
                                    {
                                        if (item1.ContractID == item.ID)
                                        {
                                            <p>@item1.FullName</p>
                                            <p>@item1.MobilePhone</p>
                                            <p>@item1.Email</p>
                                        }
                                    }
                                </td>
                                <td>@item.ContractName</td>
                                <td>@item.StartDate.Value.ToShortDateString()</td>
                                <td>@item.EndDate.Value.ToShortDateString()</td>
                                <td>@item.PaymentAddress</td>
                                <td>@item.DeliveryAddress</td>
                                <td>
                                    @{
                                        DateTime nowDate = DateTime.Now;
                                        DateTime endDate = nowDate.AddDays(30);

                                        DateTime param = Convert.ToDateTime(item.EndDate);
                                        string m = param.ToString("MM");
                                        string d = param.ToString("dd");
                                        string y = param.ToString("yyyy");

                                        var dateNow = DateTime.Now;
                                        string mN = dateNow.ToString("MM");
                                        string dN = dateNow.ToString("dd");
                                        string yN = dateNow.ToString("yyyy");
                                    }
                                    @if (item.Status == 2 && item.EndDate > DateTime.Now)
                                    {
                                        <p data-id="dangXuLy" class="btn-dangXuLy" style="background-color:green;color:white; text-align:center;border-radius:5px;">Pending</p>
                                    }
                                    else if (item.Status == 1 && item.EndDate > DateTime.Now)
                                    {
                                        <p data-id="hoatDong" class="btn-hoatDong" style="background-color:yellowgreen;color:white; text-align:center;border-radius:5px;">Active</p>
                                    }
                                    else if (item.Status == 0)
                                    {
                                        <p style="background-color:red;color:white; text-align:center;border-radius:5px;">Lock</p>
                                    }
                                    else
                                    {
                                        <p style="background-color:red;color:white; text-align:center;border-radius:5px;">Lock</p>
                                    }
                                </td>
                                <td class="tatgiahan" data-tatgiahan="@item.ID">
                                    @{
                                        if (y == yN)
                                        {
                                            if (item.Status == 0)
                                            {
                                                <a href="/AdminManager/ContractAdmin/SendMailOpenContract/@item.ID" data-id="@item.ID" class="btn-open">Open</a>
                                                <a href="/AdminManager/ContractAdmin/Details/@item.ID">Detail</a>
                                            }
                                            else if (item.EndDate <= DateTime.Now)
                                            {
                                                <a href="/AdminManager/ContractAdmin/reOpen/@item.ID" class="btn-molai">Re-Open</a>
                                                <a href="/AdminManager/ContractAdmin/Details/@item.ID">Detail</a>
                                            }
                                            else if ((Convert.ToInt32(m) - Convert.ToInt32(mN)) == 1)
                                            {
                                                <a href="#" data-id="@item.ID" class="btn-giahan">Renew</a>
                                                <label>|</label>
                                                <a href="#" data-id="@item.ID" class="delete_Contract">Lock</a>
                                                <a href="/AdminManager/ContractAdmin/Details/@item.ID">Detail</a>
                                            }
                                            else if ((Convert.ToInt32(m) - Convert.ToInt32(mN)) == 1 || (Convert.ToInt32(m) - Convert.ToInt32(mN)) == 0)
                                            {
                                                <p style="color:green;">Expire coming</p>
                                                <a href="#" data-id="@item.ID" class="btn-giahan">Renew</a>
                                                <label>|</label>
                                                <a href="#" data-id="@item.ID" class="delete_Contract">Lock</a>
                                                <a href="/AdminManager/ContractAdmin/Details/@item.ID">Detail</a>
                                            }
                                            else
                                            {

                                                if (item.Status == 2 && item.EndDate > DateTime.Now)
                                                {
                                                    <a style="cursor:pointer;" data-id="@item.ID" class="btn-active">Active</a>
                                                    <a href="/AdminManager/ContractAdmin/Details/@item.ID">Detail</a>
                                                }
                                                else
                                                {
                                                    <a href="#" data-id="@item.ID" class="delete_Contract">Lock</a>
                                                    <a href="/AdminManager/ContractAdmin/Details/@item.ID">Detail</a>
                                                }

                                            }
                                        }
                                        else
                                        {
                                            if (item.Status == 2 && item.EndDate > DateTime.Now)
                                            {
                                                <a style="cursor:pointer;" data-id="@item.ID" class="btn-active">Active</a>
                                                <label>|</label>
                                                <a href="/AdminManager/ContractAdmin/Edit/@item.ID">EditContract</a>
                                                <label>|</label>
                                                <a href="#" data-id="@item.ID" class="delete_Contract">Cancel</a>
                                                <label>|</label>
                                                <a href="/AdminManager/ContractAdmin/Details/@item.ID">Detail</a>
                                            }
                                            else if (item.Status == 0)
                                            {
                                                <a href="/AdminManager/ContractAdmin/SendMailOpenContract/@item.ID" data-id="@item.ID" class="btn-open">Open</a>
                                                <label>|</label>
                                                <a href="/AdminManager/ContractAdmin/Details/@item.ID">Detail</a>
                                            }
                                            else
                                            {
                                                <a href="#" data-id="@item.ID" class="delete_Contract">Lock</a>
                                                <label>|</label>
                                                <a href="/AdminManager/ContractAdmin/Details/@item.ID">Detail</a>
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- //tables -->
</div>
<script src="~/Assets/admin/js/ContractAdmin.js"></script>