﻿﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row" style="margin-top: 20px;">
    <div class="col-lg-2">
        <h4>Choose time</h4>
    </div>
    <div class="col-lg-4">
        <input type="text" id="reportrange" name="daterange" style="width: 100%; border-radius: 3px; border: 1px solid #bdbdbd; height:35px;" />
    </div>
</div>
<div class="row">
    <h3 style="text-align: center;">
        Statistics number of contract
    </h3>
    <div class="col-lg-6">
        <div id="piechart" style="width: 100%; height: 500px;"></div>
    </div>
    <div class="col-lg-6">
        <div id="piechart1" style="width: 100%; height: 500px;"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="chart_div" style="width: 100%; height: 500px;"></div>
    </div>
    <div class="col-lg-6">
        <div id="chart_div1" style="width: 100%; height: 500px;"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 style="text-align: center;">Revenue</h3>
    </div>
    <div class="col-lg-12">
        <div id="RevenueChart" style="height:480px;"></div>
    </div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="~/Assets/admin/js/ChartAdmin.js"></script>