﻿@model Model.EF.Insurance

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>
<style>
    / Style the tab /
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    / Style the buttons inside the tab /
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    / Change background color of buttons on hover /
    .tab button:hover {
        background-color: #ddd;
    }

    / Create an active/current tablink class /
    .tab button.active {
        background-color: #ccc;
    }

    / Style the tab content /
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div>
    <h4>Bảo hiểm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LimitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxTerm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeeInsurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeeInsurance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    </div>
    <div class="">
    </div>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'InfoInsurance')" id="defaultOpen">Main benefits</button>
        <button class="tablinks" onclick="openCity(event, 'RangeInsurance')">Advantages</button>
        <button class="tablinks" onclick="openCity(event, 'FeeInsurance')">Waiting time  </button>
        <button class="tablinks" onclick="openCity(event, 'ProcedureInsurance')">Quy định đồng chi trả</button>
        <button class="tablinks" onclick="openCity(event, 'LoaiTru')">Exclude</button>
        <button class="tablinks" onclick="openCity(event, 'DoiTuongThamGia')">Participants</button>
        <button class="tablinks" onclick="openCity(event, 'QuyTac')">Rule</button>
        <button class="tablinks" onclick="openCity(event, 'ChuongTrinh')">Programs</button>
    </div>

    <div id="InfoInsurance" class="tabcontent  mb-3">
            @foreach (var item in ViewBag.PolicyInsuranceID)
            {
                <p>@Html.Raw(@item.Content)</p>
            }
    </div>

    <div id="RangeInsurance" class="tabcontent  mb-3">
        @foreach (var item in ViewBag.PolicyInsuranceIDUuDiem)
        {
            <p>@Html.Raw(@item.Content)</p>
        }
    </div>

    <div id="FeeInsurance" class="tabcontent  mb-3">
        @foreach (var item in ViewBag.PolicyInsuranceIDThoiGianCho)
        {
            <p>@Html.Raw(@item.Content)</p>
        }
    </div>

    <div id="ProcedureInsurance" class="tabcontent  mb-3">
        @foreach (var item in ViewBag.PolicyInsuranceIDQuyDinhDongChiTra)
        {
            <p>@Html.Raw(@item.Content)</p>
        }
    </div>
    <div id="LoaiTru" class="tabcontent  mb-3">
        @foreach (var item in ViewBag.PolicyInsuranceIDLoaiTru)
        {
            <p>@Html.Raw(@item.Content)</p>
        }
    </div>
    <div id="DoiTuongThamGia" class="tabcontent  mb-3">
        @foreach (var item in ViewBag.PolicyInsuranceIDDoiTuongThamGia)
        {
            <p>@Html.Raw(@item.Content)</p>
        }
    </div>
    <div id="QuyTac" class="tabcontent  mb-3">
        @foreach (var item in ViewBag.PolicyInsuranceIDQuyTac)
        {
            <p>@Html.Raw(@item.Content)</p>
        }
    </div>
    <div id="ChuongTrinh" class="tabcontent  mb-3">
        @foreach (var item in ViewBag.PolicyInsuranceIDChuongTrinh)
        {
            <p>@Html.Raw(@item.Content)</p>
        }
    </div>
    <div>


        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>
        <div>
            <a href="/chi-tiet/@Session["CategoryID"]">Back</a>
        </div>
    </div>

