﻿@model IEnumerable<Model.EF.Insurance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}

<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">


        <div class="agile-tables">
            <div class="w3l-table-info">
                <input id="cateID" value="@Session["CategoryID"].ToString()" type="hidden" />
                <h2>Danh sách bảo hiểm</h2>
                @Html.ActionLink("Thêm mới", "Create", new { id = ViewBag.InsuranceID })
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Insurance name</th>
                            <th>Avatar</th>
                            <th>Price</th>
                            <th>Limit price</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td><img src="@item.Avatar" alt="@item.Avatar" width="100px" /></td>
                                <td>@item.Price</td>
                                <td>@item.LimitPrice</td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <p style="background-color:green;color:white; text-align:center;border-radius:5px;width:50%">Hoạt động</p>
                                    }
                                    else
                                    {
                                        <p style="background-color:red;color:white; text-align:center;border-radius:5px;width:50%">Đã xóa</p>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Thêm chính sách", "../PolicyInsuranceAdmin/Create", new { id = item.ID }) |
                                    <a href="/AdminManager/InsuranceAdmin/Edit/@item.ID">Edit</a> |
                                    <a href="/AdminManager/InsuranceAdmin/Details/@item.ID">Detail</a> |
                                    <a href="#" data-id="@item.ID" class="delete_Insurance">Delete</a> |
                                    <a href="/AdminManager/PolicyInsuranceAdmin/Index/@item.ID">List policy</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- //tables -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('.wysihtml5').wysihtml5();
    });
</script>
