﻿@model IEnumerable<Model.EF.PayMent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";<link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}

<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">

        <div class="agile-tables">
            <div class="w3l-table-info">
                
                <h2>List payment</h2>
                
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>Transaction Id</th>
                            <th>Contract Id</th>
                            <th>Contract Name</th>
                            <th>Payer Email</th>
                            <th>Price</th>
                            <th>Currency</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td style="text-align:center;">@item.TransactionId</td>
                                <td style="text-align:center; ">@item.ItemNumber</td>
                                <td style="text-align:center; ">@item.ItemName</td>
                                <td style="text-align:center;">@item.PayerEmail</td>
                                <td style="text-align:center;">@item.GrossTotal</td>
                                <td style="text-align:center;">@item.Currency</td>
                                <td style="text-align:center;">@item.PaymentStatus</td>
                                <td>

                                    @if (item.PaymentStatus == "Pending")
                                    {
                                        <a href="#" data-id="@item.ID" class="accept">
                                            <i class="fa fa-check" style="color:forestgreen"></i>
                                        </a>
                                        <a href="#" data-id="@item.ID" class="cancel">
                                            <i class="fa fa-ban" style="color:red"></i>

                                        </a>
                                    }
                                    else if (item.PaymentStatus == "Done")
                                    {
                                        <i class="fa fa-check" style="color:forestgreen"></i>
                                    }
                                    else if (item.PaymentStatus == "Cancel")
                                    {
                                        <i class="fa fa-ban" style="color:red"></i>
                                    }

                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- //tables -->
</div>

<script>
    $('.accept').off('click').on('click', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        var con = confirm("Do you want to confirm this order?");
        if (con) {
            $.ajax({
                url: "/AdminManager/Payment/ChangeStatusDone/" + id,
                type: "POST",
                dataType: "json",
                success: function (res) {
                    if (res.status == true) {
                        swal("Thông báo", "Change status success", "success")
                            .then((value) => {
                                window.location.href = "/AdminManager/Payment/Index";
                            });
                    } else {
                        swal({
                            title: "Thông báo",
                            text: "Change status fail",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true
                        })
                            .then((value) => {
                                window.location.href = "/AdminManager/Payment/Index";
                            });
                    }
                }
            });
        }
    })

    $('.cancel').off('click').on('click', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        var con = confirm("Do you want to cancel this order?");
        if (con) {
            $.ajax({
                url: "/AdminManager/Payment/ChangeStatusCancel/" + id,
                type: "POST",
                dataType: "json",
                success: function (res) {
                    if (res.status == true) {
                        swal("Thông báo", "Change status success", "success")
                            .then((value) => {
                                window.location.href = "/AdminManager/Payment/Index";
                            });
                    } else {
                        swal({
                            title: "Thông báo",
                            text: "Change status fail",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true
                        })
                            .then((value) => {
                                window.location.href = "/AdminManager/Payment/Index";
                            });
                    }
                }
            });
        }
    });
</script>

