﻿
@model IEnumerable<Model.EF.InfoOnline>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
    <script type="text/javascript" src="~/Assets/client/js/delete.js"></script>
}
<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">
        <div class="agile-tables">
            <div class="w3l-table-info">
                <h2>Customer Questions</h2>
                @*@Html.ActionLink("Thêm Khách Hàng", "Create")*@
                <table id="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Manipulation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row_@item.ID">
                            <td>@item.ID</td>
                            <td>@item.Email</td>




                            <td>

                                @*<a href="/AdminManager/User/Edit/@item.ID">Sửa</a> |*@
                                @Html.ActionLink("Detail", "Detail", new { id = item.ID }) |
                                <a href="#" data-id="@item.ID" class="delete_InfoOnline">Delete   </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- //tables -->
    <script>
        $('.delete_InfoOnline').off('click').on('click', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var con = confirm("Do you want to delete this user?");
                if (con) {
                    $.ajax({
                        url: "/AdminManager/InfoOnline/Delete/" + id,
                        type: "POST",
                        dataType: "json",
                        success: function (res) {
                            if (res.status == true) {
                                swal("Thông báo", "User delete success", "success")
                                    .then((value) => {
                                        window.location.href = "/AdminManager/InfoOnline/Index";
                                    });
                            } else {
                                swal({
                                    title: "Thông báo",
                                    text: "Cannot delete this user",
                                    icon: "warning",
                                    buttons: true,
                                    dangerMode: true
                                })
                                    .then((value) => {
                                        window.location.href = "/AdminManager/InfoOnline/Index";
                                    });
                            }
                        }
                    })
                }
            })

    </script>
</div>