﻿@model IEnumerable<Model.EF.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
    <script type="text/javascript" src="~/Assets/client/js/delete.js"></script>
}
<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">
        <div class="agile-tables">
            <div class="w3l-table-info">
                <h2>List employee</h2>
                @Html.ActionLink("Thêm Khách Hàng", "Create")
                <table id="table">
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>Customer name</th>
                            <th>Customer email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>@item.Username</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.Address</td>

                                <td>

                                    <a href="/AdminManager/User/Edit/@item.ID">Edit</a> |
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                                    <a href="#" data-id="@item.ID" class="delete_User">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- //tables -->
</div>

<script>
    $('.delete_User').off('click').on('click', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        var con = confirm("Do you want to delete this user?");
        if (con) {
            $.ajax({
                url: "/AdminManager/User/Delete/" + id,
                type: "POST",
                dataType: "json",
                success: function (res) {
                    if (res.status == true) {
                        swal("Thông báo", "User delete success", "success")
                            .then((value) => {
                                window.location.href = "/AdminManager/User/Index";
                            });
                    } else {
                        swal({
                            title: "Thông báo",
                            text: "Cannot delete this user",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true
                        })
                            .then((value) => {
                                window.location.href = "/AdminManager/User/Index";
                            });
                    }
                }
            })
        }
    })

</script>