﻿@model Model.EF.Insurance
@{
                /**/

                ViewBag.Title = "Detail";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="title-section pb-4">
        <h3 class="main-title-agile" style="font-family: s-resize">Insurance details</h3>
    </div>
    <div class="col-lg-12 hienthi">
        <div class="row mb-3">
            <div class="col-lg-3">
                <img style="width: 100%; height: 90px;" src="@Model.Avatar" alt="@Model.Avatar">
            </div>
            <div class="col-lg-4">
                <h4 class="mb-1">@Model.Name</h4>
                <div class="price mb-1">
                    @if (Model.Price == 0)
                    {
                        <span class="price-color">
                            Price: Depends on the price of your home
                        </span>
                    }
                    else
                    {
                        <span style="color: #0093d0;">@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ") VNĐ</span>
                    }
                </div>
                <div class="">
                    <span>The main benefit limit:</span>
                    <span>@Model.LimitPrice /year</span>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <a href="/baohiem/@Model.InsuranceCategoryID" class="changeInsurance mb-3">Change</a>
            </div>
        </div>
    </div>
    <input id="insuranceID" value="@Model.ID" type="hidden" />
    <div class="tab">
        @foreach (var item in ViewBag.policyCategory)
        {
            <button class="tablinks" onclick="openCity(event, '@item.ID')" id="defaultOpen">@item.Name</button>

        }
    </div>
    @foreach (var item in ViewBag.policyCategory)
    {
        <div id="@item.ID" class="tabcontent  mb-3">
            <div class="changehtml"></div>
        </div>
    }

    <div>
        <a href="/dang-ky-bao-hiem/@Model.ID" class="register-insurance mb-3">Register</a>
    </div>
</div>

@section jsFooter{
    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            $.ajax({
                url: '/Insurance/policy',
                data: {
                    id: cityName,
                    insuranceID: $('#insuranceID').val()
                },
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                    if (res != null) {
                        var newHtml = "";
                        $.each(res.value, function (index, value) {
                            newHtml += '<p>' + value.Content + '</p>'
                        });
                        $('.changehtml').html(newHtml);
                    }

                }
            });

            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
}