﻿@model IEnumerable<Model.EF.Insurance>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}

<div class="container py-5">
    <div class="title-section pb-4">
        <h3 class="main-title-agile" style="font-family: s-resize">@ViewBag.NameCategory</h3>
        <div style="text-align: center; width: 700px; word-wrap:break-word; margin: auto">
            <span>
                Attention: *This is only part we take out the insurance package for each type of insurance. Information
                may be incomplete. Please click on view details to see the details of each insurance package.*
            </span>
        </div>
        <span class="title-line">
        </span>
    </div>
    <div class="row mb-3">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 my-lg-0 my-md-5 mb-3">
                <div class="insurance p-3">
                    <div class="mb-3 mg-auto">
                        <a href="/chi-tiet-bao-hiem/@item.ID"><img style="width: 100%; height: 90px;" src="@item.Avatar" alt="VBI"></a>
                    </div>
                    <h4 class="mb-3" style="height: 60px">@item.Name</h4>
                    <div class="price mb-3">
                        @if (item.Price == 0)
                        {
                        <span class="price-color">
                            Price: Depends on the price of your home
                        </span>
                        }
                        else
                        {
                            <span class="price-color">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") VNĐ</span><span>/năm</span>
                        }
                    </div>
                    <div>
                        <a href="/dang-ky-bao-hiem/@item.ID" class="register-insurance mb-3">Register</a>
                    </div>
                    <div class="limitMax">
                        <span>Compensation limit:</span>
                        <h4>@(item.LimitPrice.HasValue ? item.LimitPrice.Value.ToString("N0") : "Liên hệ") VNĐ</h4>
                    </div>
                </div>
                <div class="policy p-0">
                    <h5>Advantages</h5>
                </div>
                <div class="chinhsach">
                    @foreach (var advantage in ViewBag.listAdvantage)
                    {
                        if (item.ID == advantage.InsuranceID)
                        {
                            <div class="row chinh">
                                <div class="col-lg-2">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="col-lg-10">
                                    <span>@Html.Raw(advantage.Content)</span>
                                </div>
                            </div>
                        }

                    }
                    <div class="marginXemdong">
                        <input type="button" class="xemdong mb-2 mt-3" value="Đóng lại">
                    </div>
                </div>
                @*<div class="policy p-0">
                        <h5>Ưu điểm</h5>
                    </div>
                    <div class="uudiem">
                        @foreach (var advantage in ViewBag.listAdvantage)
                        {
                            if (item.ID == advantage.InsuranceID)
                            {
                                <div class="row chinh1">
                                    <div class="col-lg-2">
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <div class="col-lg-10">
                                        <span>@Html.Raw(advantage.Content)</span>
                                    </div>
                                </div>
                            }
                        }

                        <div class="marginXemdong1">
                            <input type="button" class="xemdong1 mb-2 mt-3" value="Xem thêm">
                        </div>
                    </div>*@

                <div class="">
                    <a href="/chi-tiet-bao-hiem/@item.ID" class="register-insurance">See detail</a>
                </div>
            </div>
        }
    </div>
</div>

@section jsFooter{
    <script src="/Assets/client/js/client.js"></script>
}