﻿@model IEnumerable<Model.EF.Insurance>

@{
    ViewBag.Title = "Charge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="text-align: center">Charge</h2>
    @foreach (var item in Model)
    {
        <div class="row mb-3">
            <div class="col-lg-3">
                @if (item.ID == 14)
                {
                    @Html.DisplayFor(modelItem => item.Name) <span>(Calculated by house price)</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Name) <span>(Calculated by year)</span>
                }
            </div>
            @if (item.ID == 14)
            {
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-10">
                            <input id="input_@item.ID" style="border: 1px solid #bdbdbd; border-radius: 3px; width: 100%" type="number" />
                        </div>
                        <div class="col-lg-2">
                            <input type="button" class="Calculate1 btn btn-group" data-id="@item.ID" data-price="@item.FeeInsurance" value="Calculate">
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-10">
                            <input id="input_@item.ID" style="border: 1px solid #bdbdbd; border-radius: 3px; width: 100%" type="number" />
                        </div>
                        <div class="col-lg-2">
                            <input type="button" class="Calculate btn btn-group" data-id="@item.ID" data-price="@item.Price" value="Calculate">
                        </div>
                    </div>
                </div>
            }

            <div class="col-lg-4" style="margin-left: 50px">
                <b id="pricePrint_@item.ID"></b>
            </div>
        </div>
    }
</div>
<script>
    $('.Calculate').off('click').on('click', function () {
        var id = $(this).data('id');
        var price = $(this).data('price');
        var inputEnter = $("#input_" + id).val();
        if (inputEnter == "") {
            alert("Please enter number.");
        } else {
            var result = "The fee is payable " + parseInt(price) * parseInt(inputEnter) + "VNĐ";
            $("#pricePrint_" + id).html(result);
        }
    });

    $('.Calculate1').off('click').on('click', function () {
        var id = $(this).data('id');
        var fee = parseFloat($(this).data('price'));
        var priceHouse = $("#input_" + id).val();

        if (priceHouse == "") {
            alert("Please enter number.");
        } else {
            var result = 0;
            if (300000000 < priceHouse < 2000000000) {
                result = ((fee / 100) * priceHouse) - ((10 / 100) * ((fee / 100) * priceHouse));
            } else if (2000000000 < priceHouse) {
                fee = fee - 0.09;
                result = ((fee / 100) * priceHouse) - ((10 / 100) * ((fee / 100) * priceHouse));
            }
            var result1 = "The fee is payable " + result + "VNĐ";
            $("#pricePrint_" + id).html(result1);
        }
    });
</script>
