﻿@using Newtonsoft.Json;
@{
    ViewBag.Title = "History Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
    <style>

        .hidden {
            display: none;
        }

        .scrollhis {
            width: 1110px;
            overflow: scroll;
            height: 150px;
        }
    </style>
}


<div class="container">
    <div class="agile-grids">
        <!-- tables -->
        <div class="mother-grid-inner">


            <div class="agile-tables">
                <div class="w3l-table-info">
                    <table id="datatable">
                        <thead>
                            <tr>
                                <th>Name Contract</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Contract address</th>
                                <th>Status</th>
                                <th>Update date</th>
                                <th>manipulation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var json = JsonConvert.SerializeObject(ViewBag.ContractList);
                                var json1 = JsonConvert.DeserializeObject<List<ProjectInsurance.Models.ContractList>>(json);
                            }
                            @foreach (var item in json1)
                            {
                                <tr id="row_@item.InsuranceID">
                                    <td>@item.Name</td>
                                    <td>@item.startDate</td>
                                    <td>@item.endDate</td>
                                    <td>@item.address</td>
                                    @if (item.status == 0)
                                    {
                                        <td>Locked</td>
                                    }
                                    else if (item.status == 1)
                                    {
                                        <td>Active</td>
                                    }
                                    else if (item.status == 2)
                                    {
                                        <td>Pending</td>
                                    }
                                    <td>@item.updateDate</td>
                                    <td>
                                        <a href="/chi-tiet-bao-hiem/@item.InsuranceID">Detail Insurance</a>
                                        <button onclick="myFunction(event ,'@item.contractID')" class="detail1">View Detail</button>
                                        <button onclick="myFunction1(event ,'@item.contractID')" class="payment">View payment</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table class="resultHistory" id="datatable">

                        <tbody style="height: auto">
                            <tr id="myDIV"></tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@section jsFooter{
    <script>
        $(window).load(function () {
            $(".resultHistory").css("display", "none");
        });
        function myFunction(evt, id1) {
            var x = document.getElementById("myDIV");

            if (x.style.display === "none") {

                $.ajax({
                    url: '/Home/GetODandPayment',
                    data: {
                        id1: id1,
                    },
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res != null) {
                            var newHtml = "";
                            $.each(res.value, function (index, value1) {
                                newHtml += '<td>' + value1 + '</td>'
                            });
                            var htmlparse = '<tr>' + newHtml + '</tr>';
                            $(".resultHistory").css("display", "block");
                            $('#myDIV').html(htmlparse);
                            $(".resultHistory").addClass("scrollhis");

                        }
                    }
                });

                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction1(evt, id1) {
            var x = document.getElementById("myDIV");

            if (x.style.display === "none") {

                $.ajax({
                    url: '/Home/GetODandPayment',
                    data: {
                        id1: id1,
                    },
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res != null) {
                            var newHtml = "";

                            $.each(res.value1, function (index, value1) {
                                newHtml += '<td>' + value1 + '</td>'
                            });
                            $('#myDIV').html(newHtml);
                        }
                    }
                });
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
}