﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .placehoder {
        color: red;
    }
</style>

<div class="about-w3sec py-sm-5" id="about">
    <div class="container py-5">
        <div class="pb-4">
            <h3 class="main-title-agile" style="font-family: s-resize">The our insurance services</h3>
            <span class="title-line">
            </span>
        </div>
        <div class="ins-sec1">
            <div class="row">

                <div class="col-lg-3 mt-lg-0 mt-md-5">
                    <a href="/baohiem/1">
                        <div class="abt-block mt-md-0 mt-5">
                            <div class="serv_abs serv_bottom">
                                <i class="fas fa-hand-holding-heart"></i>
                            </div>
                            <h3>Life insurance</h3>
                            <p>Help minimize financial and economic situation as risks, or help further children's education.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 mt-lg-0 mt-md-5">
                    <a href="/baohiem/2">
                        <div class="abt-block mt-md-0 mt-5">
                            <div class="serv_abs serv_bottom">
                                <i class="fas fa-hospital"></i>
                            </div>
                            <h3>Health Insurance</h3>
                            <p>Your health care routine, helps minimize the possibility of disease.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 my-lg-0 my-md-5">
                    <a href="/baohiem/3">
                        <div class="abt-block">
                            <div class="serv_abs serv_bottom">
                                <i class="fas fa-motorcycle"></i>
                            </div>
                            <h3>Motor insurance</h3>
                            <p>Help minimize risks for their owners, with adequate compensation policy.</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 my-lg-0 my-md-5">
                    <a href="/baohiem/4">
                        <div class="abt-block mb-lg-0 mb-5">
                            <div class="serv_abs serv_bottom">
                                <i class="fas fa-home"></i>
                            </div>
                            <h3>House insurance</h3>
                            <p>Protect your home with insurance, you will feel less anxious than when the unfortunate happens</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="agile-works py-5" id="work">
    <div class="container py-lg-5">
        <div class="title-section pb-4">
            <h3 class="main-title-agile" style="font-family: s-resize">News</h3>
            <span class="title-line">
            </span>
        </div>
        <div class="row py-md-5 pt-5">
            <div class="col-md-12">
                <div class="main-timeline2">
                    @if (ViewBag.ListNew != null)
                    {
                        foreach (var item1 in ViewBag.ListNew)
                        {
                            <div class="timeline" >
                                <span class="icon fa fa-globe"></span>
                                <a href="/tin-moi/@item1.ID" class="timeline-content">
                                    <h3 class="title">@item1.Name</h3>
                                    <p class="description"  style="word-wrap: break-word;">
                                        @Html.Raw(item1.Title)
                                    </p>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- stats -->
<section class="agile_stats py-sm-5" id="more">
    <div class="container">
        <div class="py-lg-5 w3-abbottom">
            <div class="row py-5">
                <div class="counter col-lg-3 col-6">
                    <i class="far fa-smile"></i>
                    <div class="timer count-title count-number mt-2 text-white" data-to="5100" data-speed="1500"></div>
                    <p class="count-text text-capitalize text-white">Happy client</p>
                </div>

                <div class="counter col-lg-3 col-6">
                    <i class="fas fa-database"></i>
                    <div class="timer count-title count-number mt-2 text-white" data-to="971" data-speed="1500"></div>
                    <p class="count-text text-capitalize text-white">Insurance project</p>
                </div>
                <div class="counter col-lg-3 col-6 mt-lg-0 mt-4">
                    <i class="fas fa-users"></i>
                    <div class="timer count-title count-number mt-2 text-white" data-to="21" data-speed="1500"></div>
                    <p class="count-text text-capitalize text-white">Professionalism</p>
                </div>
                <div class="counter col-lg-3 col-6 mt-lg-0 mt-4">
                    <i class="fas fa-award"></i>
                    <div class="timer count-title count-number mt-2 text-white" data-to="27" data-speed="1500"></div>
                    <p class="count-text text-capitalize text-white">Awards in the year</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!-- services -->
<div class="more-services py-lg-5">
    <div class="container pt-sm-5">
        <div class="py-4">
            <h3 class="main-title-agile" style="font-family: s-resize">We bring</h3>
            <span class="title-line">
            </span>
        </div>
        <div class="row grid pt-sm-5">
            <div class="col-lg-3 col-6">
                <figure class="effect-layla">
                    <img src="/Assets/client/images/p1.jpg" alt="img" class="img-fluid" />
                    <figcaption>
                        <h4>Loyalty</h4>
                        <p>We are loyal to our customers and bring confidence to them.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-6">
                <figure class="effect-layla">
                    <img src="/Assets/client/images/p2.jpg" alt="img" class="img-fluid" />
                    <figcaption>
                        <h4>
                            Credibility
                        </h4>
                        <p>We are a trusted place and was very much beloved clients.</p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-lg-3 col-6">
                <figure class="effect-layla">
                    <img src="/Assets/client/images/p3.jpg" alt="img" class="img-fluid" />
                    <figcaption>
                        <h4>Professionalism</h4>
                        <p>We are experts in the field of insurance, offers 4 types of different insurance packages tailored to each customer.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-6">
                <figure class="effect-layla">
                    <img src="/Assets/client/images/p4.jpg" alt="img" class="img-fluid" />
                    <figcaption>
                        <h4>Four types of insurance</h4>
                        <p>Four types of insurance is your choice fits the regional economic situation.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- //how it works -->
<!-- testimonials -->
<div class="testimonials py-lg-5" id="testi">
    <div class="container py-5">
        <div class="pb-4">
            <h3 class="main-title-agile text-white">People say about us</h3>
            <span class="title-line bg-light">
            </span>
        </div>
        <div class="text-center py-lg-5">
            <div class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="testi-agile">
                            <p>
                                <i class="fas fa-quote-left"></i>Vivamus magna justo, lacinia eget consectetur
                                sed,
                                convallis at tellus. Nulla
                                quis lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada
                                feugiat.
                                Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit.
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="/Assets/client/images/ts1.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>arim john</h4>
                            <span>congue leo</span>
                        </div>
                    </li>
                    <li>

                        <div class="testi-agile">
                            <p>
                                <i class="fas fa-quote-left"></i>Donec rutrum congue leo eget consectetur sed,
                                convallis at tellus. Nulla quis
                                lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada feugiat.
                                Donec
                                rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="/Assets/client/images/ts2.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>john arim</h4>
                            <span>lacinia eget</span>
                        </div>
                    </li>
                    <li>

                        <div class="testi-agile">
                            <p>
                                <i class="fas fa-quote-left"></i>Vivamus magna justo, lacinia eget consectetur
                                sed,
                                convallis at tellus. Nulla
                                quis lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada
                                feugiat.
                                Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="/Assets/client/images/ts3.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>john arim</h4>
                            <span>Donec rutru</span>
                        </div>
                    </li>
                    <li>

                        <div class="testi-agile">
                            <p>
                                <i class="fas fa-quote-left"></i>Vivamus magna justo, lacinia eget consectetur
                                sed,
                                convallis at tellus. Nulla
                                quis lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada
                                feugiat.
                                Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="/Assets/client/images/ts3.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>john arim</h4>
                            <span>Donec rutru</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->
<!-- contact -->
<div class="contact-wthree" id="contact">
    <div class="container py-sm-5">
        <div class="py-4">
            <h3 class="main-title-agile" style="font-family: s-resize">Contact us</h3>
            <span class="title-line">
            </span>
        </div>
        <div class="row py-lg-5 py-4">
            <div class="col-lg-4">
                <div class="agile-contact-top">
                    <h4>Contact</h4>
                    <p>Số 8A Tôn Thất thuyết, Mỹ đình II, Nam từ liêm, Hà nội.</p>
                </div>
                <hr>
                <p>We will bring you the confidence to choose integrity.</p>
                <div class="d-sm-flex">
                    <a class="btn btn-primary mt-4 agile-link-bnr scroll" href="#footer" role="button">
                        Follow
                    </a>
                    <a href="#" role="button" data-toggle="modal" data-target="#exampleModal1" class="btn btn-primary mt-4 ml-3 agile-link-bnr scroll text-white">
                        SignUp
                    </a>
                </div>

            </div>
            <div class="offset-2"></div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <!-- register form grid -->
                <div class="register-top1">
                    <form action="#" method="get" class="register-wthree">
                        <div class="form-group">
                            <div class="row ">
                                <div class="col-md-6">
                                    <label>
                                        Name
                                    </label>
                                    <input class="form-control" type="text" placeholder="Huyền" name="FirstName" id="FirstName"
                                           required="">
                                </div>
                                <div class="col-md-6 mt-md-0 mt-4">
                                    <label>
                                        Lastname
                                    </label>
                                    <input class="form-control" type="text" placeholder="Nguyễn" name="LastName" id="LastName" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        Phone
                                    </label>
                                    <input class="form-control" type="number" placeholder="0965xxxxxx" name="Mobile" id="Mobile"
                                           required="">
                                </div>
                                <div class="col-md-6 mt-md-0 mt-4">
                                    <label>
                                        Email
                                    </label>
                                    <input class="form-control" type="email" placeholder="example@gmail.com" name="Email" id="Email"
                                           required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        Your message
                                    </label>
                                    <textarea placeholder="Enter your message here" name="Content" id="Content" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <button type="button" class="contactInfo btn btn-agile btn-block w-100 font-weight-bold text-uppercase">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--  //register form grid ends here -->
            </div>
        </div>
    </div>
</div>

<script>
    $(".contactInfo").off('click').on('click', function (e) {
        var FirstName = $('#FirstName').val();
        var LastName = $('#LastName').val();
        var Mobile = $('#Mobile').val();
        var Email = $('#Email').val();
        var Content = $('#Content').val();
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if (FirstName == '') {
            $("#FirstName").val("");
            $("#FirstName").attr("placeholder", "You did not enter name.");
            $("#FirstName").addClass('placehoder');
        }

        if (LastName == '') {
            $("#LastName").val("");
            $("#LastName").attr("placeholder", "You did not enter  last name");
            $("#LastName").addClass('placehoder');
        }

        if (Mobile == '') {
            $("#Mobile").val("");
            $("#Mobile").attr("placeholder", "You did not enter phone");
            $("#Mobile").addClass('placehoder');
        }
        else if (Mobile.length != 10) {
            $("#Mobile").val("");
            $("#Mobile").attr("placeholder", "Phone number must contain 10 characters number.");
            $("#Mobile").addClass('placehoder');
        }

        if (Email == '') {
            $("#Email").val("");
            $("#Email").attr("placeholder", "You did not enter recipient email.");
            $("#Email").addClass('placehoder');
        } else if (regex.test(Email) == '') {
            $("#Email").val("");
            $("#Email").attr("placeholder", "Invalid email.");
            $("#Email").addClass('placehoder');
        }

        if (Content.length < 5) {
            $("#Content").val("");
            $("#Content").attr("placeholder", "You did not enter the content to be sent");
            $("#Content").addClass('placehoder');
        } else if (Content == '') {
            $("#Content").val("");
            $("#Content").attr("placeholder", "You did not enter the content to be sent");
            $("#Content").addClass('placehoder');
        }


        if (FirstName == '' || LastName == '' || Mobile.length != 10
            || Mobile == '' || Email == '' || regex.test(Email) == ''
            || Content == '' || Content.length < 5
        ) {

        } else {
            e.preventDefault();
            swal("Thông báo", "Your information is stored. Click ok to continue.")
                .then((value) => {
                    $.ajax({
                        url: '/Home/Contact',
                        data: {
                            FirstName: $("#FirstName").val(),
                            LastName: $("#LastName").val(),
                            Mobile: $("#Mobile").val(),
                            Email: $("#Email").val(),
                            Content: $("#Content").val()


                        },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                swal("Thông báo", "You sent your contact information to succeed. We will contact you shortly.", "success")
                                    .then((value) => {
                                        window.location.href = "/Home/Index";
                                    });
                            } else {
                                swal({
                                    title: "Thông báo",
                                    text: "Sorry then. Your contacts have not been submitted. Please try again!",
                                    icon: "warning",
                                    buttons: true,
                                    dangerMode: true,
                                })
                            }
                        }
                    });
                });
        }
    });
</script>

