﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div style=" text-align: left">

        <h2><b>Insurance Team confirm the information</b></h2>
        <h3>You have sent 1 contact us</h3>
        <h4>-----------------------------------------------------</h4>
        <h3>Your information</h3>
        <h3>Full name {{LastName}}  {{FirstName}}</h3>
        <h3>Phone: {{Mobile}}</h3>
        <h3>Content:   {{Content}}</h3>
        <h4> -----------------------------------------------------</h4>
        <h3 style="color: red;">Thank you for contact us.</h3>
    </div>;
</body>
</html>
