﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>{{Title}}</title>
</head>
<body>
    <div style=" text-align: left">

        <h2><b> Insurance Team notification</b></h2>

        <h4>-----------------------------------------------------</h4>

        <h3>News:   {{Name}}</h3>

        <h3>News detail<a href="/de-an-chien-luoc/{{ID}}">See here</a></h3>

        <h4> -----------------------------------------------------</h4>
        <h3 style="color: red;">Thanks for reading this news</h3>
    </div>;
</body>
</html>
