﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewMail</title>
    <style>
        .contract {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 99%;
        }

            .contract td, .contract th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            .contract tr:nth-child(even) {
                background-color: #dddddd;
            }
    </style>
</head>
<body>
    <div>
        <h2 style="margin-bottom: 20px">Insurance Team would like to send your transactions and contracts</h2>
        <h3>Your contract has been locked</h3>
        <p>----------------------------------------------------------------------------------</p>
        <h2>Your contract</h2>
        <table id="tables" class="contract" style="border: 1px solid #bdbdbd">
            <thead style="border: 1px solid #bdbdbd">
                <tr>
                    <th>Contract ID</th>
                    <th>Contract name</th>
                    <th>User ID</th>
                    <th>Contract price (over a year)</th>
                    <th>Contract start date</th>
                    <th>Contract end date</th>
                    <th>Payment address</th>
                    <th>Delivery address</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody style="border: 1px solid #bdbdbd">
                <tr>
                        <td>{{ID}}</td>
                        <td>{{ContractName}}</td>
                        <td>{{UserID}}</td>
                        <td>{{TotalPrice}}</td>
                        <td>{{StartDate}}</td>
                        <td>{{EndDate}}</td>
                        <td>{{PaymentAddress}}</td>
                        <td>{{DeliveryAddress}}</td>
                        <td>{{Status}}</td>
                    
                </tr>
            </tbody>
        </table>
        <h2>Your OrderDetail</h2>
        <table id="tables" class="contract" style="border: 1px solid #bdbdbd">
            <thead style="border: 1px solid #bdbdbd">
                <tr>
                    <th>InsuranceID</th>
                    <th>ContractID</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>FullName</th>
                    <th>HomePhone</th>
                    <th>MobilePhone</th>
                    <th>Email</th>
                    <th>AddressDetail</th>
                    <th>AddressID</th>
                    <th>AddressContract</th>
                    <th>AddressIDContract</th>
                    <th>FullNameReceive</th>
                    <th>Dob</th>
                    <th>Identity</th>
                    <th>Relationship</th>
                    <th>Gender</th>
                    <th>Job</th>
                    <th>TermInsurance</th>
                    <th>HousePrice</th>

                </tr>
            </thead>
            <tbody style="border: 1px solid #bdbdbd">
                <tr>
                    <td>{{InsuranceID}}</td>
                    <td>{{ContractID}}</td>
                    <td>{{Quantity}}</td>
                    <td>{{Price}}</td>
                    <td>{{StartDate}}</td>
                    <td>{{EndDate}}</td>
                    <td>{{FullName}}</td>
                    <td>{{HomePhone}}</td>
                    <td>{{MobilePhone}}</td>
                    <td>{{Email}}</td>
                    <td>{{AddressDetail}}</td>
                    <td>{{AddressID}}</td>
                    <td>{{AddressContract}}</td>
                    <td>{{AddressIDContract}}</td>
                    <td>{{FullNameReceive}}</td>
                    <td>{{Dob}}</td>
                    <td>{{Identity}}</td>
                    <td>{{Relationship}}</td>
                    <td>{{Gender}}</td>
                    <td>{{Job}}</td>
                    <td>{{TermInsurance}}</td>
                    <td>{{HousePrice}}</td>
                </tr>

            </tbody>
        </table>
        <p>----------------------------------------------------------------------------------</p>
        <h3 style="color: red;">Thank you for joining our insurance. Have a nice day..</h3>
    </div>
</body>
</html>
