.insurance {
    border: 1px solid #bec0c8;
}

    .insurance h4 {
        text-align: center;
    }

    .insurance .price {
        text-align: center;
    }

        .insurance .price .price-color {
            color: #0093d0;
            font-size: 25px;
        }

.register-insurance {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    margin: auto;
    text-align: center;
    background-color: #0093d0;
    padding: 10px;
    border-radius: 5px;
}

.limitMax {
    text-align: center;
}

    .limitMax span {
        font-size: 12px;
    }

.policy {
    display: block;
    background-color: #bdbdbd;
    height: 30px;
    text-align: center;
    color: white;
}

    .policy h5 {
        font-size: 16px;
        line-height: 30px;
    }

.chinhsach, .uudiem, .infochitiet {
    border: 1px solid #bec0c8;
    height: auto;
}

.chinh, .chinh1, .chinh2 {
    margin: auto;
    /* position: relative; */
}

.chinhsach i, .uudiem i, .infochitiet i {
    color: green;
}

.chinhsach span, .uudiem span, .infochitiet span {
    font-size: 13px;
}

.xemdong, .xemdong1, .xemdong2 {
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bec0c8;
}

.hienthi {
    border: 1px solid #e2e2e2;
    padding: 13px;
    margin-bottom: 12px;
}

.chinhsachchinh i {
    color: green;
}

.chinhsachchinh span {
    font-size: 12px;
}

.hideshowchinhsach {
    padding: 18px;
}

.hienthithoihan {
    border: 1px solid #e2e2e2;
    margin-bottom: 12px;
    height: auto;
}

.thoihan {
    background-color: #f3f4f6;
}

    .thoihan h5 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

.cssInput {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    padding: 7px;
}

.thongtinkhaibao {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.checkInfo {
    height: 60px;
    background-color: #f3f4f6;
    border-radius: 5px;
}

    .checkInfo h6 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    .checkInfo h5 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

.changeInfo {
    display: block;
    width: 70%;
    height: 70%;
    text-decoration: none;
    margin: auto;
    text-align: center;
    background-color: #white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    border: 1px solid #e2e2e2;
}

.quytac {
    display: block;
    width: 100%;
    height: 80%;
    text-decoration: none;
    margin: auto;
    text-align: center;
    background: #white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    border: 1px solid #e2e2e2;
}

.changeInsurance {
    display: block;
    width: 50%;
    height: 50%;
    text-decoration: none;
    margin: auto;
    text-align: center;
    background-color: #white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    border: 1px solid #e2e2e2;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
