﻿@model Model.EF.Contract

@{
    ViewBag.Title = "GetdataPaypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .contract {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 99%;
    }

        .contract td, .contract th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .contract tr:nth-child(even) {
            background-color: #dddddd;
        }
</style>
@if (Session["UserID"] != null)
{

    <div class="container py-5">
        <div class="title-section pb-4">
            <h3 class="main-title-agile" style="font-family: s-resize">Contract information</h3>
        </div>
        <div class="row mb-3">
            <h5><b>Your contract</b></h5>
        </div>
        <div class="row mb-3">
            <table id="tables" class="contract" style="border: 1px solid #bdbdbd">
                <thead style="border: 1px solid #bdbdbd">
                    <tr>
                        <th>Contract ID</th>
                        <th>Customer ID</th>
                        <th>Contract name</th>
                        <th>Payment address</th>
                        <th>Delivery address</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid #bdbdbd">
                    <tr>
                        <td>@Model.ID</td>
                        <td>@Model.UserID</td>
                        <td>@Model.ContractName</td>
                        <td>
                            @Model.PaymentAddress
                        </td>
                        <td>@Model.DeliveryAddress</td>
                        <td>@Model.StartDate</td>
                        <td>@Model.EndDate</td>
                        <td>Pending</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="row mb-3">
            <h5><b>Transactions on  Paypal</b></h5>
        </div>


        <div class="row mb-3">
            <table id="tables" class="contract" style="border: 1px solid #bdbdbd">
                <thead style="border: 1px solid #bdbdbd">
                    <tr>
                        <th>Transaction Id</th>
                        <th>Payer email</th>
                        <th>Receiver email</th>
                        <th>Contract Id</th>
                        <th>Contract name</th>
                        <th>Price</th>
                        <th>Fee</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid #bdbdbd">
                    <tr>
                        <td>@ViewBag.Payment.TransactionId</td>
                        <td>@ViewBag.Payment.PayerEmail</td>
                        <td>@ViewBag.Payment.ReceiverEmail</td>
                        <td>@ViewBag.Payment.ItemNumber</td>
                        <td>@ViewBag.Payment.ItemName</td>
                        <td>@ViewBag.Payment.GrossTotal USD</td>
                        <td>@ViewBag.Payment.PaymentFee USD</td>
                        <td>@ViewBag.Payment.PaymentStatus</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>}
else
{
    <div class="container py-5">
        <h6 style="text-align: center; color: red;">You not signin</h6>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <span>Signin here</span>
                <button style="text-align: center; border: 2px solid #BDBDBD" type="button" class="btn  ml-lg-2 w3ls-btn" data-toggle="modal" aria-pressed="false"
                        data-target="#exampleModal">
                    <i class="far fa-user-circle" style="color: blue"></i>
                </button>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
}
}