﻿@using System.Configuration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .contract {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 99%;
    }

        .contract td, .contract th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .contract tr:nth-child(even) {
            background-color: #dddddd;
        }

    .exrate {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        font-size: 12px;
        width: 100%;
    }

        .exrate td, .exrate th {
            border: 1px solid #A8A8A8;
            text-align: left;
            padding: 2px;
        }

        .exrate tr:nth-child(even) {
            background-color: #A8A8A8;
        }
</style>
@if(Session["OrderSession"] != null)
{
    if (Session["UserID"] != null)
    {
        <div class="container py-5">
            <div class="title-section pb-4">
                <h3 class="main-title-agile" style="font-family: s-resize">Payment</h3>
            </div>
            <div class="row mb-3">
                <h5><b>Your contract</b></h5>
            </div>
            <div class="row mb-3">
                <table id="tables" class="contract" style="border: 1px solid #bdbdbd">
                    <thead style="border: 1px solid #bdbdbd">
                        <tr>
                            <th>Contract ID</th>
                            <th>Insurance name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody style="border: 1px solid #bdbdbd">
                        <tr>
                            <td>@ViewBag.ContractID</td>
                            <td>@ViewBag.InsuranceName</td>
                            <td>
                                @ViewBag.Price VNĐ tương đương @ViewBag.PriceUSD USD
                            </td>
                            <td>@ViewBag.Quantity</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row mb-3">
                <h5><b>Choose how to pay</b></h5>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="row mb-2">
                        <a href="#" id="paypalCheck">Payment via paypal</a>
                    </div>
                    <div class="row" id="ContentPaypalCheck">
                        <p style="text-align: center">Payment via paypal fast and convenient. Fit with your work situation</p>
                        <img style="margin: auto" class="mb-3" height="40" src="/Assets/client/images/Paypal.png" />
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-5"></div>
                                <div class="col-lg-2">
                                    <form action="@ConfigurationManager.AppSettings["urlSubmitPayment"]" style="width: 100%">

                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="upload" value="1" />
                                        <input type="hidden" name="return" value="@ConfigurationManager.AppSettings["urlReturn"]" />
                                        <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["accountBussiness"]" />


                                        <input type="hidden" value="@ViewBag.ContractID" name="@Url.Content("item_number_1")" />
                                        <input type="hidden" value="@ViewBag.InsuranceName" name="@Url.Content("item_name_1")" />
                                        <input type="hidden" value="@ViewBag.PriceUSD" name="@Url.Content("amount_1")" />
                                        <input type="hidden" value="1" name="@Url.Content("quantity_1")" />
                                        <input type="submit" value="Check out" style="width: auto" class="btn btn-primary" />
                                    </form>
                                </div>
                                <div class="col-lg-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <a href="#" id="noidiaCheck">Payment via local banks</a>
                    </div>
                    <div class="row" id="ContentNoidiaCheck">
                        <p style="text-align: center">Bank transfer via local banks</p>
                        <p>Account name: Insurance Team Fpt Aptech</p>
                        <p>Account number: 0011001803620</p>
                        <p>Joint Stock Commercial Bank for Foreign Trade of Vietnam – The Hanoi stock exchange</p>
                        <p>Content: <b>Bill payment insurance @ViewBag.ContractID for the user id @Session["UserID"]</b></p>
                        <p>Transfer fee: fee charged in addition payers</p>
                    </div>
                    <div class="row mb-2">
                        <a href="#" id="contractCheck">Payments in the place of receipt of the contract</a>
                    </div>
                    <div class="row" id="ContentContractCheck">
                        <p>We apply this payment type as follows:</p>
                        <p>+ Through the authorized branch with all types of insurance.</p>
                        <p>+ Staff have met directly with flats Life Insurance, Home Insurance.</p>
                        <p>+ By post, ship with hiêm health and motor insurance.</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h6 style="text-align: center;" class="mb-2">Reference exchange rates</h6>
                    <h6 style="text-align: center; font-size: 12px;" class="mb-3">Last updated @ViewBag.TimeExrate.ToString() by Vietcombank</h6>
                    <table class="exrate" style="border: 1px solid #bdbdbd">
                        <thead style="border: 1px solid #bdbdbd">
                            <tr>
                                <th>Currency code</th>
                                <th>Currency name</th>
                                <th>Buy</th>
                                <th>Transfer</th>
                                <th>Sell</th>
                            </tr>
                        </thead>
                        <tbody style="border: 1px solid #bdbdbd">
                            @foreach (var exrate in ViewBag.ExrateList)
                            {
                                <tr>
                                    <td>@exrate.CurrencyCode</td>
                                    <td>@exrate.CurrencyName</td>
                                    <td>@exrate.Buy</td>
                                    <td>@exrate.Transfer</td>
                                    <td>@exrate.Sell</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container py-5">
            <h6 style="text-align: center; color: red;">You not signin</h6>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <span>SignIn here</span>
                    <button style="text-align: center; border: 2px solid #BDBDBD" type="button" class="btn  ml-lg-2 w3ls-btn" data-toggle="modal" aria-pressed="false"
                            data-target="#exampleModal">
                        <i class="far fa-user-circle" style="color: blue"></i>
                    </button>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    }
}
else
{
    <script>
        swal({
            title: "Thông báo",
            text: "You do not have any contracts go back to register.",
            icon: "warning",
            buttons: true,
            dangerMode: true
        })
            .then((value) => {
                window.location.href = "/Home/Index";
            });
    </script>
}
@section jsFooter{
    <script>
        $(window).load(function () {
            $("#ContentNoidiaCheck").hide();
            $("#ContentContractCheck").hide();
            $("#paypalCheck").css("color", "red");
        });
        $("#paypalCheck").click(function (e) {
            e.preventDefault();
            $("#ContentPaypalCheck").toggle("slow");
            $("#ContentNoidiaCheck").hide("slow");
            $("#ContentContractCheck").hide("slow");
            $("#paypalCheck").css("color", "red");
            $("#noidiaCheck").css("color", "#007bff");
            $("#contractCheck").css("color", "#007bff");
        });
        $("#noidiaCheck").click(function (e) {
            e.preventDefault();
            $("#ContentNoidiaCheck").toggle("slow");
            $("#ContentPaypalCheck").hide("slow");
            $("#ContentContractCheck").hide("slow");
            $("#noidiaCheck").css("color", "red");
            $("#paypalCheck").css("color", "#007bff");
            $("#contractCheck").css("color", "#007bff");
        });

        $("#contractCheck").click(function (e) {
            e.preventDefault();
            $("#ContentContractCheck").toggle("slow");
            $("#ContentPaypalCheck").hide("slow");
            $("#ContentNoidiaCheck").hide("slow");
            $("#contractCheck").css("color", "red");
            $("#paypalCheck").css("color", "#007bff");
            $("#noidiaCheck").css("color", "#007bff");
        });


    </script>
}