﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewMail</title>
    <style>
        .contract {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 99%;
        }

            .contract td, .contract th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            .contract tr:nth-child(even) {
                background-color: #dddddd;
            }
    </style>
</head>
<body>
    <div>
        <h2 style="margin-bottom: 20px">Insurance Team would like to send your transactions and contracts</h2>
        <h3>Your contract has been fixed according to your requirements.</h3>
        <p>----------------------------------------------------------------------------------</p>
        <h2>Your contract</h2>
        <table id="tables" class="contract" style="border: 1px solid #bdbdbd">
            <thead style="border: 1px solid #bdbdbd">
                <tr>
                    <th>Contract ID</th>
                    <th>Contract name</th>
                    <th>User ID</th>
                    <th>Contract price (over a year)</th>
                    <th>Contract start date</th>
                    <th>Contract end date</th>
                    <th>Payment address</th>
                    <th>Delivery address</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody style="border: 1px solid #bdbdbd">
                <tr>
                    <td>{{InsuranceID}}</td>
                    <td>{{NameInsurance}}</td>
                    <td>{{UserID}}</td>
                    <td>{{TotalPrice}}</td>
                    <td>{{StartDate}}</td>
                    <td>{{AddressDetail}}</td>
                    <td>{{EndDate}}</td>
                    <td>{{AddressContract}}</td>
                    <td>Pending</td>
                </tr>

            </tbody>
        </table>

        <h2>Transactions on Paypal</h2>
        <table id="tables" class="contract" style="border: 1px solid #bdbdbd">
            <thead style="border: 1px solid #bdbdbd">
                <tr>
                    <th>Transaction ID</th>
                    <th>Send account</th>
                    <th>Receiver account</th>
                    <th>Insurance name</th>
                    <th>Insurance ID pay</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody style="border: 1px solid #bdbdbd">
                <tr>
                    <td>{{TransactionID}}</td>
                    <td>{{SendAccount}}</td>
                    <td>{{ReceiverAccount}}</td>
                    <td>{{InsuranceName}}</td>
                    <td>{{InsuranceIDPay}}</td>
                    <td>{{FeeInsurance}} USD</td>
                    <td>{{StatusPay}}</td>
                </tr>

            </tbody>
        </table>
        <p>----------------------------------------------------------------------------------</p>
        <h3 style="color: red;">Thank you for joining our insurance. Have a nice day..</h3>
    </div>
</body>
</html>
