﻿
@model IEnumerable<Model.EF.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
    <script type="text/javascript" src="~/Assets/client/js/delete.js"></script>
}
<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">
        <div class="agile-tables">
            <div class="w3l-table-info">
                <h2>Customer Questions</h2>
                @*@Html.ActionLink("Thêm Khách Hàng", "Create")*@
                <table id="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Content</th>
                            <th>Create Data</th>
                            <th>Manipulation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Mobile</td>
                                <td>@item.Email</td>
                                <td>@item.Content</td>
                                <td>@item.CreateDate</td>


                                <td>

                                    @*<a href="/AdminManager/User/Edit/@item.ID">Sửa</a> |*@
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    <a href="#" data-id="@item.ID" class="delete_Contact">Delete   </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- //tables -->
    <script>
            $('.delete_Contact').off('click').on('click', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var con = confirm("Do you want delete this user");
                if (con) {
                    $.ajax({
                        url: "/AdminManager/Contact/Delete/" + id,
                        type: "POST",
                        dataType: "json",
                        success: function (res) {
                            if (res.id == true) {
                                swal("Thông báo", "Delete user success", "success")
                                    .then((value) => {
                                        window.location.href = "/AdminManager/Contact/Index";
                                    });
                            } else {
                                swal({
                                    title: "Thông báo",
                                    text: "Can not delete this user",
                                    icon: "warning",
                                    buttons: true,
                                    dangerMode: true
                                })
                                    .then((value) => {
                                        window.location.href = "/AdminManager/Contact/Index";
                                    });
                            }
                        }
                    })
                }
            })

    </script>
</div>