﻿@model ProjectInsurance.Models.OrderModel
@using System.Globalization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var order = (ProjectInsurance.Models.OrderModel)Session["OrderSession"];
}

<!-- //banner -->
<div class="container py-5">
    <div class="title-section pb-4">
        <h3 class="main-title-agile" style="font-family: s-resize">Register</h3>
    </div>
    <div class="row hienthi">
        <div class="col-lg-12">
            <div class="row mb-3">
                <div class="col-lg-3">
                    <img style="width: 100%; height: 90px;" src="@ViewBag.Insurance.Avatar" alt="@ViewBag.Insurance.Avatar">
                </div>
                <div class="col-lg-4">
                    <h4 class="mb-1">
                        @ViewBag.Insurance.Name
                    </h4>
                    <div class="price mb-1">
                        @if (ViewBag.Insurance.Price == 0)
                        {
                            <span class="price-color">
                                Price: Depends on the price of your home
                            </span>
                        }
                        else
                        {
                            <span style="color: #0093d0;">@ViewBag.Insurance.Price VNĐ</span>
                        }
                        </div>
                    <div class="">
                        <span>The main benefit limit:</span>
                        <span>@ViewBag.Insurance.LimitPrice /năm</span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="updown" type="button" style="background: none; border: none;"><i class="fas fa-angle-down changeclass"></i></button>
                </div>
                <div class="col-lg-3">
                    <a href="/baohiem/@ViewBag.Insurance.InsuranceCategoryID" class="changeInsurance mb-3">Change</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row hideshowchinhsach">
                <div class="row mb-2">
                    <div class="col-lg-12">
                        <h5>The main benefits</h5>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">

                        @foreach (var item in ViewBag.listRight)
                        {
                            <div class="col-lg-3 chinhsachchinh">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <div class="col-lg-10">
                                        <span>@Html.Raw(item.Content)</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Order", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row hienthithoihan">
            <div class="col-lg-3 thoihan">
                <h5><b>Declaring your information</b></h5>
            </div>
            <div class="col-lg-9">
                <input type="hidden" name="InsurantID" value="@ViewBag.Insurance.ID" />
                @if (Session["Baohiemnhao"] != null)
                {
                    <div class="row mb-3" style="margin-top: 20px">
                        <div class="col-lg-5">
                            <h6>The current house price</h6>
                        </div>
                        <div class="col-lg-6">
                            @if (order != null)
                            {
                                @Html.EditorFor(model => model.HousePrice, new { htmlAttributes = new { @class = "cssInput", @Type = "Number", @id = "EnterPrice", @Value = order.HousePrice } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.HousePrice, new { htmlAttributes = new { @class = "cssInput", @Type = "Number", @id = "EnterPrice" } })
                            }
                            <input type="hidden" id="FeeInsurance" value="@ViewBag.Insurance.FeeInsurance" />
                        </div>
                    </div>

                    <div class="row mb-3 feeHouse" style="margin-top: 20px">
                        <div class="col-lg-5">
                            <h6>Cost including tax</h6>
                        </div>
                        <div class="col-lg-6">
                            @if (order != null)
                            {
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "cssInput", @Readonly = "readonly", @Type = "Number", @id = "PriceAffterFee", @Value= order.Price } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "cssInput", @Readonly = "readonly", @Type = "Number", @id = "PriceAffterFee" } })
                            }
                        </div>
                    </div>
                }
                else
                {
                    <input  type="hidden" name="HousePrice" />
                    <input type="hidden" name="Price" value="@ViewBag.Insurance.Price" />
                }

                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Choose your insurance tenor</h6>
                    </div>
                    <div class="col-lg-6">
                        <select id="term" name="TermInsurance" class="cssInput">
                            @if (order != null)
                            {
                                <option value="@order.TermInsurance">@order.TermInsurance Year</option>
                            }
                            @for (int i = ViewBag.Insurance.MinTerm; i <= ViewBag.Insurance.MaxTerm; i++)
                            {
                                <option value="@i">@i Year</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row hienthithoihan">
            <div class="col-lg-3 thoihan">
                <h5><b>Duration of insurance</b></h5>
            </div>
            <div class="col-lg-9">
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Insurance start date</h6>
                    </div>
                    @{
                        var time = DateTime.Now.ToString("yyyy-MM-dd");
                    }
                    <div class="col-lg-6">
                        @if (order != null)
                        {
                            DateTime param = Convert.ToDateTime(order.StartDate);
                            string dt = param.ToString("yyyy-MM-dd");
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "cssInput", @id = "startDate", @Type = "Date", @min = time, @Value = dt } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "cssInput", @id = "startDate", @Type = "Date", @min = time } })
                        }
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row ngayketthuc mb-3">
                    <div class="col-lg-12">
                        <div class="row" style="margin-top: 20px">
                            <div class="col-lg-5">
                                <h6>Insurance end date</h6>
                            </div>
                            <div class="col-lg-6">
                                @if (order != null)
                                {
                                    DateTime param = Convert.ToDateTime(order.EndDate);
                                    string dt = param.ToString("MM-dd-yyyy");
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "cssInput", @id = "endDate", @readonly = "readonly", @Value = dt } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "cssInput", @id = "endDate", @readonly = "readonly"} })
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row hienthithoihan">
            <div class="col-lg-3 thoihan">
                <h5><b>Insurance claimant</b></h5>
            </div>
            <div class="col-lg-9">
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Full name</h6>
                    </div>
                    <div class="col-lg-6">
                        @if (order != null)
                        {
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "cssInput", @id = "NameCheck", @placeholder = "Nguyễn Văn A", @Value = order.FullName } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "cssInput", @id = "NameCheck", @placeholder = "Nguyễn Văn A" } })
                        }
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Desk phone number</h6>
                    </div>
                    <div class="col-lg-6">
                        @if (order != null)
                        {
                            @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "cssInput", @placeholder = "0243xxxxxx", @Value = order.HomePhone } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "cssInput", @placeholder = "0243xxxxxx" } })
                        }
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Phone</h6>
                    </div>
                    <div class="col-lg-6">
                        @if (order != null)
                        {
                            @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "cssInput", @placeholder = "0243xxxxxx", @Value = order.MobilePhone } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "cssInput", @placeholder = "09xxxxxxxx" } })
                        }
                        @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Email</h6>
                    </div>
                    <div class="col-lg-6">
                        @if (order != null)
                        {
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "cssInput", @placeholder = "nguyenvana@gmail.com", @Value = order.Email } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "cssInput", @placeholder = "nguyenvana@gmail.com" } })
                        }
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Address</h6>
                    </div>
                    <div class="col-lg-6">
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                @if (order != null)
                                {
                                    @Html.EditorFor(model => model.AddressDetail, new { htmlAttributes = new { @class = "cssInput", @placeholder = "Address", @id = "AddressDetail", @Value = order.AddressDetail } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.AddressDetail, new { htmlAttributes = new { @class = "cssInput", @placeholder = "Address", @id = "AddressDetail" } })
                                }
                                @Html.ValidationMessageFor(model => model.AddressDetail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <select id="Provind" name="ProvindRequest" class="cssInput">
                                    @if (order != null)
                                    {
                                        <option value="@order.ProvindRequest">@ViewBag.ProvindRequest.Name</option>
                                    }
                                    else
                                    {
                                        if (ViewBag.ProvindRequest != null)
                                        {
                                            <option value="@ViewBag.ProvindRequest.ID">@ViewBag.ProvindRequest.Name</option>
                                        }
                                        else
                                        {
                                            <option value="0">City</option>
                                        }
                                    }
                                    @foreach (var p in ViewBag.Provind)
                                    {
                                        <option value="@p.ID">@p.Name</option>
                                    }
                                </select>
                                <p class="text-danger">@ViewBag.ProvindA.ToString()</p>
                            </div>
                            <div class="col-lg-4">
                                <select id="District" name="DistrictRequest" class="cssInput">
                                    @if (order != null)
                                    {
                                        <option value="@order.DistrictRequest">@ViewBag.DistrictRequest.Name</option>
                                    }
                                    else
                                    {
                                        if (ViewBag.DistrictRequest != null)
                                        {
                                            <option value="@ViewBag.DistrictRequest.ID">@ViewBag.DistrictRequest.Name</option>
                                        }
                                        else
                                        {
                                            <option value="0">District</option>
                                        }
                                    }
                                </select>
                                <p class="text-danger">@ViewBag.District.ToString()</p>
                            </div>
                            <div class="col-lg-4">
                                <select id="Ward" name="WardRequest" class="cssInput">
                                    @if (order != null)
                                    {
                                        <option value="@order.WardRequest">@ViewBag.WardRequest.Name</option>
                                    }
                                    else
                                    {
                                        if (ViewBag.WardRequest != null)
                                        {
                                            <option value="@ViewBag.WardRequest.ID">@ViewBag.WardRequest.Name</option>
                                        }
                                        else
                                        {
                                            <option value="0">Ward</option>
                                        }
                                    }
                                </select>
                                <p class="text-danger">@ViewBag.Ward.ToString()</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>The recipient address of contract</h6>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-1">
                                <input id="addressCheckbox" data-check="avaiable" type="checkbox">
                            </div>
                            <div class="col-lg-11">
                                <p style="font-size: 15px;">
                                    Address same as address where you stay
                                </p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                @if (order != null)
                                {
                                    @Html.EditorFor(model => model.AddressContract, new { htmlAttributes = new { @class = "cssInput", @placeholder = "Địa chỉ chi tiết", @id = "AddressDetail1", @Value = order.AddressContract } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.AddressContract, new { htmlAttributes = new { @class = "cssInput", @placeholder = "Địa chỉ chi tiết", @id = "AddressDetail1" } })
                                }
                                @Html.ValidationMessageFor(model => model.AddressContract, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <select id="Provind1" name="ProvindContract" class="cssInput">
                                    @if (order != null)
                                    {
                                        <option value="@order.ProvindContract">@ViewBag.ProvindContract.Name</option>
                                    }
                                    else
                                    {
                                        if (ViewBag.ProvindContract != null)
                                        {
                                            <option value="@ViewBag.ProvindContract.ID">@ViewBag.ProvindContract.Name</option>
                                        }
                                        else
                                        {
                                            <option value="0">City</option>
                                        }
                                    }
                                    @foreach (var p in ViewBag.Provind)
                                    {
                                        <option value="@p.ID">@p.Name</option>
                                    }
                                </select>
                                <p class="text-danger">@ViewBag.Provind1.ToString()</p>
                            </div>
                            <div class="col-lg-4">
                                <select id="District1" name="DistrictContract" class="cssInput">
                                    @if (order != null)
                                    {
                                        <option value="@order.DistrictContract">@ViewBag.DistrictContract.Name</option>
                                    }
                                    else
                                    {
                                        if (ViewBag.DistrictContract != null)
                                        {
                                            <option value="@ViewBag.DistrictContract.ID">@ViewBag.DistrictContract.Name</option>
                                        }
                                        else
                                        {
                                            <option value="0">District</option>
                                        }
                                    }
                                </select>
                                <p class="text-danger">@ViewBag.District1.ToString()</p>
                            </div>
                            <div class="col-lg-4">
                                <select id="Ward1" name="WardContract" class="cssInput">
                                    @if (order != null)
                                    {
                                        <option value="@order.WardContract">@ViewBag.WardContract.Name</option>
                                    }
                                    else
                                    {
                                        if (ViewBag.WardContract != null)
                                        {
                                            <option value="@ViewBag.WardContract.ID">@ViewBag.WardContract.Name</option>
                                        }
                                        else
                                        {
                                            <option value="0">Ward</option>
                                        }
                                    }
                                </select>
                                <p class="text-danger">@ViewBag.Ward1.ToString()</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hienthithoihan">
            <div class="col-lg-3 thoihan">
                <h5><b>Insured person</b></h5>
            </div>
            <div class="col-lg-9">
                <div class="row" style="margin-top: 20px">
                    <div class="col-lg-1">
                        <input id="userCheck" data-user="check" type="checkbox">
                    </div>
                    <div class="col-lg-11">
                        <p>
                            Same as insurance claimant
                        </p>
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Full name</h6>
                    </div>
                    <div class="col-lg-6">
                        @if (order != null)
                        {
                            @Html.EditorFor(model => model.FullNameReceive, new { htmlAttributes = new { @class = "cssInput", @placeholder = "Nguyễn Văn A", @id = "NameCheck1", @Value = order.FullNameReceive } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.FullNameReceive, new { htmlAttributes = new { @class = "cssInput", @placeholder = "Nguyễn Văn A", @id = "NameCheck1" } })
                        }
                        @Html.ValidationMessageFor(model => model.FullNameReceive, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Date of birth </h6>
                    </div>
                    <div class="col-lg-6">
                        @if (order != null)
                        {
                            DateTime param1 = Convert.ToDateTime(order.StartDate);
                            string dt1 = param1.ToString("yyyy-MM-dd");
                            @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "cssInput", @type = "Date", @Value = dt1 } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "cssInput", @type = "Date" } })
                        }
                        @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>ID card number or passport</h6>
                    </div>
                    <div class="col-lg-6">
                        @if (order != null)
                        {
                            @Html.EditorFor(model => model.Identity, new { htmlAttributes = new { @class = "cssInput", @Value = order.Identity } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Identity, new { htmlAttributes = new { @class = "cssInput" } })
                        }
                        @Html.ValidationMessageFor(model => model.Identity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Relationship with insurance claimant</h6>
                    </div>
                    <div class="col-lg-6">
                        <select id="RelationCheck" name="Relationship" class="cssInput">
                            @if (order != null)
                            {
                                if (order.Relationship == 1)
                                {
                            <option value="@order.Relationship">yourself</option>
                                }
                                else if (order.Relationship == 2)
                                {
                                    <option value="@order.Relationship">Father</option>
                                }
                                else if (order.Relationship == 3)
                                {
                                    <option value="@order.Relationship">Mother</option>
                                }
                                else if (order.Relationship == 4)
                                {
                                    <option value="@order.Relationship">Wife</option>
                                }
                                else if (order.Relationship == 5)
                                {
                                    <option value="@order.Relationship">Husband</option>
                                }
                                else if (order.Relationship == 6)
                                {
                                    <option value="@order.Relationship">Child</option>
                                }

                            }
                            else
                            {
                                if (ViewBag.RelationshipCheck != 0)
                                {

                                    if (ViewBag.RelationshipCheck == 1)
                                    {
                                        <option value="@ViewBag.RelationshipCheck">Yourself</option>
                                    }
                                    else if (ViewBag.RelationshipCheck == 2)
                                    {
                                        <option value="@ViewBag.RelationshipCheck">Father</option>
                                    }
                                    else if (ViewBag.RelationshipCheck == 3)
                                    {
                                        <option value="@ViewBag.RelationshipCheck">Mother</option>
                                    }
                                    else if (ViewBag.RelationshipCheck == 4)
                                    {
                                        <option value="@ViewBag.RelationshipCheck">Wife</option>
                                    }
                                    else if (ViewBag.RelationshipCheck == 5)
                                    {
                                        <option value="@ViewBag.RelationshipCheck">Husband</option>
                                    }
                                    else if (ViewBag.RelationshipCheck == 6)
                                    {
                                        <option value="@ViewBag.RelationshipCheck">Child</option>
                                    }
                                }
                            }
                            <option value="0">Choose</option>
                            <option value="1">Yourself</option>
                            <option value="2">Father</option>
                            <option value="3">Mother</option>
                            <option value="4">Wife</option>
                            <option value="5">Husband</option>
                            <option value="6">Child</option>
                        </select>
                        <p class="text-danger">@ViewBag.Relationship</p>
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Gender</h6>
                    </div>
                    <div class="col-lg-6">
                        <select name="Gender" class="cssInput">
                            @if (order != null)
                            {
                                if (order.Gender == 1)
                                {
                                    <option value="@order.Gender">Male</option>
                                }
                                else if (order.Gender == 2)
                                {
                                    <option value="@order.Gender">Female</option>
                                }
                                else if (order.Gender == 3)
                                {
                                    <option value="@order.Gender">Another</option>
                                }
                            }
                            else
                            {
                                if (ViewBag.GenderCheck != 0)
                                {
                                    if (ViewBag.GenderCheck == 1)
                                    {
                                        <option value="@ViewBag.GenderCheck">Male</option>
                                    }
                                    else if (ViewBag.GenderCheck == 2)
                                    {
                                        <option value="@ViewBag.GenderCheck">Female</option>
                                    }
                                    else if (ViewBag.GenderCheck == 3)
                                    {
                                        <option value="@ViewBag.GenderCheck">Another</option>
                                    }
                                }
                            }

                            <option value="0">Choose</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                            <option value="3">Another</option>
                        </select>
                        <p class="text-danger">@ViewBag.Gender</p>
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 20px">
                    <div class="col-lg-5">
                        <h6>Job</h6>
                    </div>
                    <div class="col-lg-6">
                        @if (order != null)
                        {
                            @Html.EditorFor(model => model.Job, new { htmlAttributes = new { @class = "cssInput", @Value = order.Job } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Job, new { htmlAttributes = new { @class = "cssInput" } })
                        }
                        @Html.ValidationMessageFor(model => model.Job, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div style="float: right" class="mb-3">
            <input type="submit" class="register-insurance mb-3" value="Continue" />
        </div>
    }
</div>


@section jsFooter{
    <script src="/Assets/client/js/client.js"></script>
}