﻿@model Model.EF.Insurance
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var order = (ProjectInsurance.Models.OrderModel)Session["OrderSession"];
}

<div class="container py-5">
    <div class="title-section pb-4">
        <h3 class="main-title-agile" style="font-family: s-resize">Review</h3>
    </div>
    <div class="row hienthi">
        <div class="col-lg-12">
            <div class="row mb-3">
                <div class="col-lg-3">
                    <img style="width: 100%; height: 90px;" src="@Model.Avatar" alt="@Model.Avatar">
                </div>
                <div class="col-lg-4">
                    <h4 class="mb-1">
                        @Model.Name
                    </h4>
                    <div class="price mb-1">
                        @if (Model.Price == 0)
                        {
                            <span class="price-color">
                                Price: Depends on the price of your home
                            </span>
                        }
                        else
                        {
                            <span style="color: #0093d0;">@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ") VNĐ</span>
                        }
                    </div>
                    <div class="">
                        <span>The main benefit limit:</span>
                        <span>@Model.LimitPrice /year</span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="updown" type="button" style="background: none; border: none;"><i class="fas fa-angle-down changeclass"></i></button>
                </div>
                <div class="col-lg-3">
                    <a href="/baohiem/@Model.InsuranceCategoryID" class="changeInsurance mb-3">Change</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row hideshowchinhsach">
            <div class="row mb-2">
                <div class="col-lg-12">
                    <h5>The main benefit</h5>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">

                    @foreach (var item in ViewBag.listRight)
                    {
                        <div class="col-lg-3 chinhsachchinh">
                            <div class="row">
                                <div class="col-lg-2">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="col-lg-10">
                                    <span>@Html.Raw(item.Content)</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row checkInfo mb-3">
        <div class="col-lg-12">
            <h6>Please check your insurance package information carefully</h6>
        </div>
    </div>
    <div class="row mb-3 thongtinkhaibao">
        <div class="col-lg-12 mb-3">
            <div class="row checkInfo">
                <div class="col-lg-12">
                    <h5><b>Declaration information</b></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-10">
                    <h6><b>Term and insurance fee</b></h6>
                </div>
                <div class="col-lg-2">
                    <a href="/dang-ky-bao-hiem/@Model.ID" class="changeInfo mb-3">Change</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-3">
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Term</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.TermInsurance year
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Insurance fee</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.Price VNĐ
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-10">
                    <h6><b>Start and end date of insurance</b></h6>
                </div>
                <div class="col-lg-2">
                    <a href="/dang-ky-bao-hiem/@Model.ID" class="changeInfo mb-3">Change</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-3">
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Start date</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.StartDate
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">End date</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.EndDate
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-10">
                    <h6><b>Insurance claimant</b></h6>
                </div>
                <div class="col-lg-2">
                    <a href="/dang-ky-bao-hiem/@Model.ID" class="changeInfo mb-3">Change</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-3">
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Full name</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.FullName
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Desk phone number</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.HomePhone
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Phone</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.MobilePhone
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Email</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.Email
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Address</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.AddressDetail, @ViewBag.WardRequest.Name, @ViewBag.DistrictRequest.Name, @ViewBag.ProvindRequest.Name
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Delivery address</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.AddressContract, @ViewBag.WardContract.Name, @ViewBag.DistrictContract.Name, @ViewBag.ProvindContract.Name

                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-10">
                    <h6><b>The insured person</b></h6>
                </div>
                <div class="col-lg-2" style="float: right;">
                    <a href="/dang-ky-bao-hiem/@Model.ID" class="changeInfo mb-3">Change</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Full name</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.FullNameReceive
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Date of birth</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.Dob
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">ID card (or passport)</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.Identity
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Relationship with insurance claimant </h6>
                </div>
                <div class="col-lg-9">
                    @if (order.Relationship == 1)
                    {
                        <p style="font-size: 15px;">
                            Yourself
                        </p>
                    }
                    else if (order.Relationship == 2)
                    {
                        <p style="font-size: 15px;">
                           Father
                        </p>
                    }
                    else if (order.Relationship == 3)
                    {
                        <p style="font-size: 15px;">
                            Mother
                        </p>
                    }
                    else if (order.Relationship == 4)
                    {
                        <p style="font-size: 15px;">
                            Wife
                        </p>
                    }
                    else if (order.Relationship == 5)
                    {
                        <p style="font-size: 15px;">
                            Husband
                        </p>
                    }
                    else if (order.Relationship == 6)
                    {
                        <p style="font-size: 15px;">
                            Child
                        </p>
                    }

                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Gender</h6>
                </div>
                <div class="col-lg-9">
                    @if (order.Gender == 1)
                    {
                        <p style="font-size: 15px;">
                            Male
                        </p>
                    }
                    else if (order.Gender == 2)
                    {
                        <p style="font-size: 15px;">
                            Female
                        </p>
                    }
                    else if (order.Gender == 3)
                    {
                        <p style="font-size: 15px;">
                            Another
                        </p>
                    }
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-3">
                    <h6 style="color: #8e9098; font-size: 15px;">Job</h6>
                </div>
                <div class="col-lg-9">
                    <p style="font-size: 15px;">
                        @order.Job
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 thongtinkhaibao">
        <div class="col-lg-12 mb-3">
            <div class="row checkInfo">
                <div class="col-lg-12">
                    <h5><b>Commitment of the insurance requirement</b></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row mb-2">
                <div class="col-lg-1">
                    <input type="checkbox">
                </div>
                <div class="col-lg-11">
                    <p style="font-size: 15px;">
                        I am committed to the information declared in the certificate of insurance required is adequate,
                        accurate and entirely responsible for the information declared. I have read
                        and understood the conditions,
                        in terms of rules @Model.Name of Insurance Team.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row mb-2">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-11">
                    <p style="font-size: 15px;">
                        (*) Please download the rules @Model.Name in the reference information section below.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 thongtinkhaibao">
        <div class="col-lg-12">
            <div class="row checkInfo">
                <div class="col-lg-3">
                    <h5><b>Reference information</b></h5>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        @foreach (var item1 in ViewBag.ListFile)
                        {
                        <div class="col-lg-3 mt-2">
                            <a href="@item1.Content" class="quytac"><i class="fas fa-file-download mr-2"></i>See more documents</a>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="float: right" class="mb-3">
        <a href="/thanh-toan-bao-hiem" style="width: 100%;" class="register-insurance mb-3">Continue</a>
    </div>
</div>

@section jsFooter{
    <script src="/Assets/client/js/client.js"></script>
}