﻿
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title> Insurance team T1708M</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Insurance team T1708M" />
    <!-- <script> -->
    <!-- addEventListener("load", function () { -->
    <!-- setTimeout(hideURLbar, 0); -->
    <!-- }, false); -->
    <!-- function hideURLbar() { -->
    <!-- window.scrollTo(0, 1); -->
    <!-- } -->
    <!-- </script> -->
    <!-- Custom Theme files -->
    <link href="/Assets/client/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/Assets/client/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- how it works -->
    <link href="/Assets/client/css/timeline.css" type="text/css" rel="stylesheet" media="all">
    <!-- grid hover -->
    <link href="/Assets/client/css/hover.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/Assets/client/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/Assets/client/css/insurance.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- //Custom Theme files -->
</head>

<body>
    <!-- banner -->
    <div class="banner" id="home">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                <h1>
                    <a class="navbar-brand text-white" href="/" style="font-family: s-resize">
                        Insurance
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item active  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="/#about">About us</a>
                        </li>
                        <li class="nav-item dropdown mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Insurance
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item scroll" href="/baohiem/1">Life insurance</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item scroll" href="/baohiem/2">Health insurance</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item scroll" href="/baohiem/3">Motor insurance</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item scroll" href="/baohiem/14">House insurance</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                New
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item scroll" href="/tin-tuc/1">Scheme</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item scroll" href="/tin-tuc/2">Strategy
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item scroll" href="/tin-tuc/3">News</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <li class="nav-item mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="/#contact">Contact</a>
                        </li>
                        <li class="nav-item dropdown mr-lg-3 mt-lg-0 mt-3">
                            @if (Session["UserName"] != null)
                            {
                                <a class="nav-link dropdown-toggle right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                    <i class="far fa-user-circle"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item scroll" href="#work">@Session["UserName"]</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item " data-toggle="modal" aria-pressed="false"
                                       data-target="#ChangeProfile" href="#">Change Information</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item " href="/contract-user">Contract</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item "
                                       href="/history-transaction">History transaction</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                       href="/Charge">Charge</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item "
                                       href="/Home/Logout">Logout</a>
                                </div>
                            }
                            else
                            {
                                <button type="button" class="btn  ml-lg-2 w3ls-btn" data-toggle="modal" aria-pressed="false"
                                        data-target="#exampleModal">
                                    <i class="far fa-user-circle"></i>
                                </button>
                            }
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
        <!-- //header -->
        <div class="container">
            <div class="banner-text">
                <div class="slider-info">
                    <h3 style="font-family: s-resize">Protect your family with insurance</h3>
                    <p class="text-white mt-sm-4 mt-2">Please join the insurance to ensure safety with the people you love.</p>
                    <a class="btn btn-primary mt-4 agile-link-bnr scroll" href="#about" role="button">See more</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    @RenderBody()
    <!-- //about -->
    <!-- footer -->
    <div class="footerv4-w3ls" id="footer">
        <div class="footerv4-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 footv4-left">
                        <h3>About us</h3>
                        <h2>
                            <a href="index.html">Insurance</a>
                        </h2>
                        <p class="text-white">We specialize in providing the types of services covered. Bring more confidence to customers.</p>
                        <div class="footerv4-social">
                            <h3>Keep contact</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fab fa-facebook-f icon_facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fab fa-twitter icon_twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fab fa-dribbble icon_dribbble"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fab fa-google-plus icon_g_plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- //footer social -->

                    </div>
                    <div class="col-lg-3 col-sm-6 footv4-content mt-sm-0 mt-4">
                        <h3>Main content</h3>
                        <ul class="v4-content">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#about" class="scroll">About us</a>
                            </li>
                            <li>
                                <a href="#work" class="scroll">New service</a>
                            </li>
                            <li>
                                <a href="#testi" class="scroll">
                                    Testimonials
                                </a>
                            </li>
                            <li>
                                <a href="#contact" class="scroll">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 footv4-left fv4-g3 my-lg-0 my-4">
                        <h3>The latest strategy</h3>
                        <ul class="v4-rel">
                            <li>
                                <a href="#">
                                    Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.
                                </a>
                                <p class="text-white">February 15, 2018</p>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.
                                </a>
                                <p class="text-white">February 18, 2018</p>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.
                                </a>
                                <p class="text-white">February 20, 2018</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 footv4-left">
                        <h3>Get information online</h3>
                        <form>
                            <input type="email" id="EmailInfo" placeholder="Email" name="email" required>
                            <input id="sendMail" class="btn btn-primary mt-4 ml-3 agile-link-bnr scroll text-white" type="button" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            <!-- /footerv4-top -->
        </div>
    </div>
    <!-- //footer -->
    <div class="cpy-right">
        <p>
            Coppy © 2018 by Insurance team FPT Aptech
        </p>
    </div>
    <!-- login  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">SignIn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/Home/Login" method="post" class="p-3">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Account</label>
                            <input type="text" class="form-control" placeholder=" " name="UserName" id="recipient-name"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" id="password"
                                   required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Sign In">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col sub-agile">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-white">
                                    <span></span>Save account?
                                </label>
                            </div>
                            <div class="col forgot-w3l text-right">
                                <a href="#" class="text-white">Forgot password</a>
                            </div>
                        </div>
                        <p class="text-center dont-do text-white">
                            Dont have an account
                            <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-white">
                                SignUp
                            </a>

                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //login -->
    <!-- register -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">SignUp</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/Home/Register" method="post" class="p-3">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Account</label>
                            <input type="text" class="form-control" placeholder=" " name="UserName" id="recipient-rname"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">Email</label>
                            <input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="Phone" class="col-form-label">Phone</label>
                            <input type="number" class="form-control" placeholder=" " name="Phone" id="recipient-phone"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="Address" class="col-form-label">Address</label>
                            <input type="text" class="form-control" placeholder=" " name="Address" id="recipient-address"
                                   required="">
                        </div>

                        <div class="form-group">
                            <label for="password1" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" id="password1"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-form-label">Confirm password</label>
                            <input type="password" class="form-control" placeholder=" " name="ConfirmPassword" id="password2"
                                   required="">
                        </div>
                        <div class="sub-w3l">
                            <div class="sub-agile">
                                <input type="checkbox" id="brand2" value="">
                                <label for="brand2" class="mb-3 text-white">
                                    <span></span>I agree to the terms and services of the company
                                </label>
                            </div>
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ChangeProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Edit information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @if (Session["UserID"] != null)
                {
                    <div class="modal-body">
                        <form action="/Home/Setting" method="post" class="p-3">
                            
                            <div class="form-group">
                                <label for="Address" class="col-form-label">Account</label>
                                <input type="text" class="form-control" value="@Session["UserName"]" placeholder=" " name="UserName" id="recipient-address"
                                       required="" readonly>
                            </div>
                            <div class="form-group">
                                <label for="Address" class="col-form-label">Email</label>
                                <input type="text" class="form-control" value="@Session["Email"]" placeholder=" " name="Email" id="recipient-address"
                                       required="">
                            </div>

                            <div class="form-group">
                                <label for="password1" class="col-form-label">Old password</label>
                                <input type="password" class="form-control" placeholder=" " name="Password"
                                       required="">
                            </div>
                            <div class="form-group">
                                <label for="password2" class="col-form-label">New password</label>
                                <input type="password" class="form-control" placeholder=" " name="NewPassword"
                                       required="">
                            </div>
                            <div class="right-w3l">
                                <input type="submit" class="form-control" value="Change">
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- // register -->
    <!-- js -->
    <script src="/Assets/client/js/jquery-2.2.3.min.js"></script>

    <script>
        $("#sendMail").off('click').on('click', function () {
            var result = $("#EmailInfo").val();
            if (result == "") {
                swal({
                    title: "Thông báo",
                    text: "You have not entered email!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
            } else {
                swal("Thông báo", "Your information is stored. Click ok to continue.")
                    .then((value) => {
                        $.ajax({
                            data: { Email: $("#EmailInfo").val() },
                            type: 'post',
                            url: "/Home/SendMail",
                            success: function (res) {
                                if (res.status == true) {
                                    swal("Thông báo", "You have registered to receive information of our online success. Please review the latest news sent to your email.", "success")
                                        .then((value) => {
                                            window.location.href = "/Home/Index";
                                        });
                                } else {
                                    swal({
                                        title: "Thông báo",
                                        text: "Sorry then. Your email has not been added to the system. Please try again!",
                                        icon: "warning",
                                        buttons: true,
                                        dangerMode: true,
                                    })
                                }
                            }
                        });
                    });
            }
        });
    </script>
    <!-- //js -->
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <!-- testimonials  Responsiveslides -->
    <script src="/Assets/client/js/responsiveslides.min.js"></script>
    <script>
        // You can also use"$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //testimonials  Responsiveslides -->
    <!-- start-smooth-scrolling -->
    <script src="/Assets/client/js/move-top.js"></script>
    <script src="/Assets/client/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="/Assets/client/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <script src="/Assets/client/js/counter.js"></script>
    <!-- //stats -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Assets/client/js/bootstrap.js"></script>
    @RenderSection("jsFooter", required: false);
</body>

</html>