﻿@model IEnumerable<Model.EF.New>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/EmployeeManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}

<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">


        <div class="agile-tables">
            <div class="w3l-table-info">
                <input id="cateNewID" value="@Session["CategoryNewID"].ToString()" type="hidden" />
                <h2>List Insurance</h2>
                @Html.ActionLink("Thêm mới", "Create", new { id = ViewBag.NewID })
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Avatar</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td>@item.Title</td>
                                <td><a href="/">See here</a></td>
                                <td><img src="@item.Image" alt="@item.Image" width="100px" /></td>

                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <p style="background-color:green;color:white; text-align:center;border-radius:5px;width:50%">Active</p>
                                    }
                                    else
                                    {
                                        <p style="background-color:red;color:white; text-align:center;border-radius:5px;width:50%">Deleted</p>
                                    }
                                </td>
                                <td>
                                    <a href="/EmployeeManager/NewAdmin/Edit/@item.ID">Edit</a> |
                                    <a href="/EmployeeManager/NewAdmin/Details/@item.ID">Detail</a> |
                                    <a href="#" data-id="@item.ID" class="delete_New">Delete</a> |
                                    <a href="/EmployeeManager/NewAdmin/SendMailInfo/@item.ID">Send mail</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- //tables -->
</div>

@if (Session["SendMailSuccsess"] != null)
{
    <script>
        swal("Thông báo", "Mail send success", "success")
            .then((value) => {
                $.ajax({
                    type: 'POST',
                    url: '/EmployeeManager/NewAdmin/ChangeSession',
                    success: function (result) {

                    }
                });
            });

    </script>
}

@if (Session["SendMailError"] != null)
{
    <script>
        swal({
            title: "Thông báo",
            text: "Mail send fail",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((value) => {
            $.ajax({
                type: 'POST',
                url: '/EmployeeManager/NewAdmin/ChangeSession',
                success: function (result) {

                }
            });
        });
    </script>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('.wysihtml5').wysihtml5();
    });
</script>
