﻿@model Model.EF.New
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <h3 class="mb-3" style="text-align: center;"><b>@Model.Name</b></h3>
    <div class="mb-3" style="text-align: center;"><img width="600" height="200" src="@Model.Image" /></div>
    <div>@Html.Raw(Model.Content)</div>
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
            <p>
                Written on @Model.CreateDate
            </p>

            @if (ViewBag.idAdmin != null)
            {
                <p>Updated by @ViewBag.idAdmin.Name</p>
            }
            else if (ViewBag.idEmployee != null)
            {
                <p>Updated by @ViewBag.idEmployee.Name</p>
            }
        </div>
    </div>
</div>