﻿@model IEnumerable<Model.EF.New>
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row">

        <div class="col-12">

            <div class="main-timeline2">
                @foreach (var item in Model)
                {
                    <div class="timeline">
                        <span class="icon fa fa-globe"></span>
                        <a href="/tin-moi/@item.ID" class="timeline-content">
                            <h3 class="title">@item.Name</h3>
                            <p class="description" style="word-wrap: break-word;">
                                @Html.Raw(item.Title)
                            </p>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>